<div class="row-fluid" ng-controller="Jetty.JettyController">

  <div class="row-fluid">
    <div class="pull-left">
      <form class="form-inline no-bottom-margin">
        <fieldset>
          <div class="controls control-group inline-block controls-row">
            <div class="btn-group">
              <button ng-disabled="selected.length == 0 || !anySelectionHasState('stop')"
                      hawtio-show object-name="{{sampleWebApp}}" method-name="start" mode="remove"
                      class="btn" ng-click="start()" title="Start"> <i class="icon-play-circle"></i> </button>
              <button ng-disabled="selected.length == 0 || !anySelectionHasState('start')"
                      hawtio-show object-name="{{sampleWebApp}}" method-name="stop" mode="remove"
                      class="btn" ng-click="stop()" title="Stop"> <i class="icon-off"></i></button>
              <button ng-disabled="selected.length == 0 || !everySelectionHasState('stop')"
                      hawtio-show object-name="{{sampleWebApp}}" method-name="destroy" mode="remove"
                      class="btn" ng-click="uninstallDialog.open()" title="Uninstall"><i class="icon-eject"></i></button>
            </div>
          </div>
        </fieldset>
      </form>

    </div>

    <div class="section-filter pull-right">
      <form class="form-inline no-bottom-margin">
        <fieldset>
          <div class="control-group inline-block">
            <input type="text" class="search-query" placeholder="Filter..." ng-model="gridOptions.filterOptions.filterText">
            <i class="icon-remove clickable"
              title="Clear filter"
              ng-click="gridOptions.filterOptions.filterText = ''"></i>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

    <ng-include src="'app/jetty/html/uninstallDialog.html'"></ng-include>

  <div class="row-fluid">
    <div class="gridStyle" ng-grid="gridOptions"></div>
  </div>

</div>

