<div id="console" class="row-fluid">

    <div class="well">
        <legend>Jetty Server</legend>

        <div style="margin-bottom: 20px">
            <div class="btn-group">
                <button ng-click="webServerOperation('start')" class="btn"><i class="icon-play"></i></button>
            </div>
            <div class="btn-group">
                <button ng-click="webServerOperation('stop')" class="btn"><i class="icon-stop"></i></button>
            </div>
            <div class="btn-group" ng-switch on="theServer.running" >
                <span class="label label-success" ng-switch-when="true">Running</span>
                <span class="label label-important" ng-switch-when="false">Not Running</span>
            </div>
        </div>

        <table style="margin-bottom: 20px">
            <tr> <td style="font-style:italic">Startup Time</td> <td>{{startupTime}}</td> </tr>
            <tr> <td style="font-style:italic">Version</td> <td>{{theServer.version}}</td> </tr>
        </table>

        <legend>Web Applications</legend>

        <table style="margin-bottom: 20px" class="ng-show:!isEmpty(theContexts)">
            <tr ng-repeat="context in theContexts">
                <td>
                    <div class="btn-group">
                        <button ng-click="webAppOperation(context.displayName,'start')" class="btn"><i class="icon-play"></i></button>
                    </div>
                    <div class="btn-group">
                        <button ng-click="webAppOperation(context.displayName,'stop')" class="btn"><i class="icon-stop"></i></button>
                    </div>
                    <div class="btn-group" ng-switch on="context.running" >
                        <span class="label label-success" ng-switch-when="true">Running</span>
                        <span class="label label-important" ng-switch-when="false">Not Running</span>
                    </div>
                </td>
                <td class="lead">{{context.displayName}}</td>
            </tr>
        </table>

        <span style="font-style:italic" class="ng-show:isEmpty(theContexts)">No applications deployed</span>

    </div>

</div>

