<div ng-controller="Wiki.ViewController">
  <script type="text/ng-template" id="fileCellTemplate.html">
    <div class="ngCellText"
         title="{{fileName(row.entity)}} - Last Modified: {{row.entity.lastModified | date:'medium'}}, Size: {{row.entity.length}}">
      <a href="{{childLink(row.entity)}}" class="file-name" hawtio-file-drop="{{row.entity.fileName}}" download-url="{{row.entity.downloadURL}}">
        <span class="file-icon"
              ng-class="fileClass(row.entity)"
              compile="fileIconHtml(row)">
        </span>{{fileName(row.entity)}}
      </a>
    </div>
  </script>

  <script type="text/ng-template" id="fileColumnTemplate.html">
    <div class="ngHeaderSortColumn {{col.headerClass}}"
         ng-style="{'cursor': col.cursor}"
         ng-class="{ 'ngSorted': !noSortVisible }">
      <div class="ngHeaderText" ng-hide="pageId === '/'">
        <a ng-href="{{parentLink()}}"
           class="wiki-file-list-up"
           title="Open the parent folder">
          <i class="icon-level-up"></i> Up a directory
        </a>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="imageTemplate.html">
    <img src="{{imageURL}}">
  </script>

  <ng-include src="'app/wiki/html/viewNavBar.html'"></ng-include>

  <!-- Icon View -->
  <div ng-show="mode == ViewMode.Icon" class="wiki-fixed">
    <div ng-hide="!showAppHeader">
      <div class="row-fluid">
        <div class="span12">
          <div kubernetes-json="kubernetesJson"></div>
        </div>
      </div>
    </div>
    <div ng-hide="!html" wiki-href-adjuster wiki-title-linker>
      <div class="row-fluid" style="margin-left: 10px">
        <div class="span12">
          <div compile="html"></div>
        </div>
      </div>
    </div>
    <div class="row-fluid" ng-show="html && children">
      <div class="span12 wiki-icon-view-header">
        <h5>Directories and Files</h5>
      </div>
    </div>
    <div class="row-fluid" ng-hide="!directory">
      <div class="span12" ng-controller="Wiki.FileDropController">
        <div class="wiki-icon-view" nv-file-drop nv-file-over uploader="uploader" over-class="ready-drop">
          <div class="column-box mouse-pointer well"
               ng-repeat="child in children" 
               ng-class="isInGroup(gridOptions.selectedItems, child, 'selected', '')"
               ng-click="toggleSelectionFromGroup(gridOptions.selectedItems, child)">
            <div class="row-fluid">
              <div class="span2" hawtio-file-drop="{{child.fileName}}" download-url="{{child.downloadURL}}">
                  <span class="app-logo" ng-class="fileClass(child)" compile="fileIconHtml(child)"></span>
              </div>
              <div class="span10">
                <h3>
                  <a href="{{childLink(child)}}">{{child.displayName || child.name}}</a>
                </h3>
              </div>
            </div>
            <div class="row-fluid" ng-show="child.summary">
              <div class="span12">
                <p compile="marked(child.summary)"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end Icon view -->

  <!-- start List view -->
  <div ng-show="mode == ViewMode.List" class="wiki-fixed">
    <hawtio-pane position="left" width="300">
      <div ng-controller="Wiki.FileDropController">
        <div class="wiki-list-view" nv-file-drop nv-file-over uploader="uploader" over-class="ready-drop">
          <div class="wiki-grid" hawtio-list="gridOptions"></div>
        </div>
      </div>
    </hawtio-pane>
    <div class="row-fluid">
      <div ng-class="span12">
        <div ng-hide="!showProfileHeader">
          <div class="row-fluid">
            <div class="span12">
              <div fabric-profile-details version-id="versionId" profile-id="profileId"></div>
              <p></p>
            </div>
          </div>
        </div>
        <div ng-hide="!showAppHeader">
          <div class="row-fluid">
            <div class="span12">
              <div kubernetes-json="kubernetesJson" children="children"></div>
            </div>
          </div>
        </div>
        <div ng-hide="!html" wiki-href-adjuster wiki-title-linker>
          <div class="row-fluid" style="margin-left: 10px">
            <div class="span12">
              <div compile="html"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end List view -->
  <div ng-include="sourceView" class="editor-autoresize"></div>
</div>
