<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	      http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	      version="2.4">

  <description>hawtio</description>
  <display-name>hawt.io dev web app</display-name>

  <servlet>
    <servlet-name>dev-proxy-servlet</servlet-name>
    <servlet-class>io.hawt.web.dev.ProxyServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>dev-servlet</servlet-name>
    <servlet-class>io.hawt.web.dev.DevServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>dev-proxy-servlet</servlet-name>
    <url-pattern>/jolokia/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>dev-servlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>

