<script type="text/ng-template" id="widgetTemplate">
    <div class="widget-title">
      <div class="row-fluid">
        <div class="pull-left">
        <editable-property ng-model="widget" property="title" on-save="onWidgetRenamed(widget)"></editable-property>
        </div>
        <div class="pull-right">
          <i class="icon-remove" title="Removes this view from the dashboard" ng-click="removeWidget(widget)"></i>
        </div>
    </div>
  </div>
  <div class="widget-body" ng-include="widget.include"></div>
</script>

<div class="gridster" ng-controller="Dashboard.DashboardController">
  <ul id="widgets">
  </ul>
</div>
