<div class="row-fluid">
  <div class="span4">
    <div class="control-group">
      <button class="btn" ng-hide="!url" ng-click="goBack()"
              title="Go back to the previous view"><i class="icon-backward"></i> Back
      </button>
      <button class="btn" ng-hide="!url" ng-disabled="!selectedItems.length" ng-click="add()"
              title="Adds the current view to the selected dashboard(s)"><i class="icon-add"></i> Add View
      </button>
    </div>
  </div>
  <div class="span8">
    <div class="control-group">
      <input type="text" class="span12 search-query" ng-model="searchText" placeholder="search">
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="gridStyle" ng-grid="gridOptions"></div>
</div>
