<div ng-controller="Log.LogController">
  <div class="row-fluid">
    <div class="control-group">
      <input class="search-query span4" type="text" id="logSearch" ng-model="searchText" placeholder="Filter logs...">

      <div class="span6 pull-right">
        <form class="form-inline">
          <label>Level:
          <select ng-model="filter.logLevelQuery" id="logLevelQuery">
            <option value="" selected="selected">None...</option>
            <option value="TRACE">TRACE</option>
            <option value="DEBUG">DEBUG</option>
            <option value="INFO">INFO</option>
            <option value="WARN">WARN</option>
            <option value="ERROR">ERROR</option>
          </select>
          </label>
          <label> Exact:
          <input type="checkbox" ng-model="filter.logLevelExactMatch" title="Only match exact logging levels rather than using ranges">
          </label>
          <button class="btn pull-right" ng-disabled="!selectedItems.length" ng-click="getSupport()"
                  title="Search the customer portal to get help on why the selected log occurred" data-placement="bottom">
            <i class="icon-question-sign"></i> Support
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="row-fluid" ng-show="logs.length > 0">
<!--
    <div class="gridStyle" ng-grid="gridOptions"></div>
-->
    <div class="gridStyle" hawtio-grid="gridOptions"></div>
  </div>
  <div class="row-fluid" ng-show="logs.length == 0">
    There are no logs matching your required criteria
  </div>
</div>
