<form class="form-horizontal">
  <div class="control-group">
      <input id="logSearch" class="span10 search-query" ng-model="query" placeholder="search logs">

      <select class="span2" ng-model="logLevelQuery" id="logLevelQuery">
        <option value="" selected="selected">Logging Level</option>
        <option value="FATAL">FATAL</option>
        <option value="ERROR">ERROR</option>
        <option value="WARNING">WARNING</option>
        <option value="INFO">INFO</option>
        <option value="DEBUG">DEBUG</option>
      </select>
  </div>
</form>

<div ng-show="filteredLogs.length > 0">
  <table class="table table-condensed table-striped table-hover" title="">
<!--
    <caption>There are '{{filteredLogs.length}}' logs matching your required criteria</caption>
-->
    <thead>
    <tr>
      <th>Timestamp</th>
      <th>Level</th>
      <th>Logger</th>
      <th width="100%">Message</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="log in filteredLogs = (logs | filter:query | filter:{level: logLevelQuery})"
        ng-class="logClass(log)">
      <td>{{log.timestamp | date:'yyyy-MM-dd HH:mm:ss'}}</td>
      <td>{{log.level}}</td>
      <td>{{log.logger}}</td>
      <td>{{log.message}}</td>
    </tr>
    </tbody>
  </table>
</div>
<div ng-show="filteredLogs.length == 0">
  There are no logs matching your required criteria
</div>