<div ng-controller="Camel.PropertiesController">

  <div class="control-group inline-block">
    <form class="form-inline no-bottom-margin">
      <label>Hide Documentation:
        <input type="checkbox" ng-model="hideHelp"
               title="Hide documentation for the options"/>
      </label>
      <label>Hide Default:
        <input type="checkbox" ng-model="hideDefault"
               title="Hide options with default values"/>
      </label>
      <label>Hide Unused:
        <input type="checkbox" ng-model="hideUnused"
               title="Hide options with default values"/>
      </label>
    </form>
  </div>

  <div ng-include="viewTemplate"></div>
</div>
