<div class="controller-section" ng-controller="Karaf.FeaturesController">
  <div class="row-fluid">
    <div class="pull-left">
      <form class="form-inline no-bottom-margin">
        <fieldset>
          <div class="control-group inline-block">
            <div class="btn-group">
              <button ng-disabled="hasFabric || selectedFeatures.length == 0" class="btn" ng-click="install()"><i
                      class="icon-play-circle"></i> Start
              </button>
              <button ng-disabled="hasFabric || selectedFeatures.length == 0" class="btn" ng-click="uninstall()"><i
                      class="icon-off"></i> Stop
              </button>
            </div>
          </div>
          &nbsp;
          <div class="control-group inline-block">
            <label for="repositories">Repositories: </label>
            <select id="repositories" ng-model="repository" ng-options="v.id for v in repositories"></select>
          </div>
          &nbsp;
          <div class="control-group inline-block">
            <label for="installedOnly" title="Only show installed features">Installed only: </label>
            <input type="checkbox" id="installedOnly" name="installedOnly" ng-model="installedOnly">
          </div>
        </fieldset>
      </form>
    </div>

    <div class="pull-right">
      <form class="form-inline no-bottom-margin">
        <fieldset>
          <div class="pull-right control-group inline-block">
            <input type="text" class="search-query" placeholder="Filter..." ng-model="filter">
          </div>
        </fieldset>
      </form>
    </div>
  </div>

  <div class="row-fluid">
    <div class="gridStyle" ng-grid="featureOptions"></div>
  </div>
</div>
