<div ng-controller='Forms.FormTestController'>

  <h3>Form Testing</h3>

  <div>
    <div class="control-group">
      <a class='btn' ng-href="" hawtio-submit='form-with-inline-arguments'><i class="icon-save"></i> Save</a>
      <a class='btn' ng-href="" hawtio-reset='form-with-inline-arguments'><i class="icon-refresh"></i> Clear</a>
    </div>
    Form with inline arguments
    <div simple-form name='form-with-inline-arguments' action='#/forms/test' method='post' data='setVMOption' entity='cheese' onSubmit="derp()"></div>
  </div>

  <hr>

  <div>
    Read Only Form with config object
    <div class="row-fluid">
      <button class="btn" ng-click="toggleEdit()">Edit</button>
    </div>
    <div simple-form data='setVMOption' entity='cheese' mode='view'></div>
  </div>

  <hr>

  <div>
    Confirmation Dialog
    <div class="row-fluid">
      <button class="btn" ng-click="showDeleteOne = true">Delete Stuff</button>
      <button class="btn" ng-click="showDeleteTwo = true">Delete Other Stuff</button>

      <div hawtio-confirm-dialog="showDeleteOne"
           title="Delete Stuff?"
           ok-button-text="Yes, Delete the Stuff"
           cancel-button-text="No, Keep the Stuff"
           on-cancel="onCancelled('One')"
           on-ok="onOk('One')">
        Are you sure you want to delete all the stuff?
      </div>
      <!-- Use more defaults -->
      <div hawtio-confirm-dialog="showDeleteTwo"
           on-cancel="onCancelled('Two')"
           on-ok="onOk('Two')">
        Are you sure you want to delete all the other stuff?
      </div>

    </div>


  </div>


  <!--
  <div>
    Form with config object
    <div simple-form='config'></div>
  </div>

  <hr>

  <div>
    form with inline json config
    <div simple-form name='form-with-inline-json-config' action='#/forms/test' method='post' showTypes='false' json='
    {
      "properties": {
        "key": { "description": "Argument key", "type": "java.lang.String" },
        "value": { "description": "Argument value", "type": "java.lang.String" },
        "longArg": { "description": "Long argument", "type": "Long" },
        "intArg": { "description": "Int argument", "type": "Integer" }},
       "description": "Show some stuff in a form from JSON",
       "type": "java.lang.String"
    }'></div>
  </div>

  -->
</div>
