# http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true

[*.java]
indent_size = 4

[*.{html,ts,js,json,css,less}]
indent_style = space
indent_size = 2
