<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>hawtio-directives</title>
    <link rel="stylesheet" href="css/bootstrap.css?v=@VERSION@" type="text/css"/>
    <link rel="stylesheet" href="css/bootstrap-responsive.css?v=@VERSION@" type="text/css"/>
    <link rel="stylesheet" href="css/font-awesome.css?v=@VERSION@" type="text/css"/>
    <link rel='stylesheet' href='css/ui.dynatree.css?v=@VERSION@' type='text/css'/>
    <link rel='stylesheet' href='css/dynatree-icons.css?v=@VERSION@' type='text/css'/>
    <link rel='stylesheet' href='css/datatable.bootstrap.css?v=@VERSION@' type='text/css'/>
    <link rel='stylesheet' href='css/ColReorder.css?v=@VERSION@' type='text/css'/>
    <link rel='stylesheet' href='css/codemirror/codemirror.css?v=@VERSION@' type='text/css'/>
    <link rel='stylesheet' href='css/angular-ui.css?v=@VERSION@' type='text/css'/>
    <link rel='stylesheet' href='css/ng-grid.css?v=@VERSION@' type='text/css'/>
    <link rel='stylesheet' href='css/jquery.gridster.css?v=@VERSION@' type='text/css'/>
    <link rel='stylesheet' href='css/twilight.css?v=@VERSION@' type='text/css'/>
    <link rel='stylesheet' href='css/codemirror/themes/ambiance.css?v=@VERSION@' type='text/css'/>
    <link rel='stylesheet' href='css/codemirror/themes/blackboard.css?v=@VERSION@' type='text/css'/>
    <link rel='stylesheet' href='css/codemirror/themes/cobalt.css?v=@VERSION@' type='text/css'/>
    <link rel='stylesheet' href='css/codemirror/themes/eclipse.css?v=@VERSION@' type='text/css'/>
    <link rel='stylesheet' href='css/codemirror/themes/monokai.css?v=@VERSION@' type='text/css'/>
    <link rel='stylesheet' href='css/codemirror/themes/neat.css?v=@VERSION@' type='text/css'/>
    <link rel='stylesheet' href='css/codemirror/themes/twilight.css?v=@VERSION@' type='text/css'/>
    <link rel='stylesheet' href='css/codemirror/themes/vibrant-ink.css?v=@VERSION@' type='text/css'/>
    <link rel='stylesheet' href='css/toastr.css?v=@VERSION@' type='text/css'/>
    <link rel="stylesheet" href="css/dangle.css?v=@VERSION@" type='text/css'/>
    <link rel='stylesheet' href='css/toggle-switch.css?v=@VERSION@' type='text/css'/>


    <link rel='stylesheet' href='css/site-base.css?v=@VERSION@' type='text/css'/>
    <!--
    <link rel='stylesheet' media='screen and (min-width: 980px)' href='css/site-wide.css?v=@VERSION@' type='text/css'/>
    <link rel='stylesheet' media='screen and (max-width: 979px)' href='css/site-narrow.css?v=@VERSION@' type='text/css'/>
    -->

    <link rel="stylesheet" href="css/vendor.css?v=@VERSION@" type="text/css">

    <link rel='icon' type='image/ico' href='favicon.ico'/>

  </head>
  <body>

  <div id="main-body" ng-controller="App.ViewController">
    <!--  navbar-inverse -->
    <div id="main-nav" class="navbar navbar-fixed-top">

      <div class="navbar-inner main-nav-upper">

        <div class="container">
          <div class="pull-left">
            <a ng-href="http://hawt.io/"
               title="Go to home"
               class="brand"
               data-placement="bottom">
              <img src="img/logo-16px.png"/>
              <strong>hawtio</strong>
            </a>
          </div>
        </div>

      </div>

      <div class="navbar-inner main-nav-lower">
        <div class="container">
          <ul class="nav">
            <li>
              <a href="http://hawt.io/" title="Hawtio">Home</a>
            </li>
            <li ng-class="{active : viewPartial === overviewPage}">
              <a ng-click="viewPartial = overviewPage" title="Overview of how to use the Hawtio Directives">Overview</a>
            </li>
            <li ng-class="{active : viewPartial === directivesPage}">
              <a ng-click="viewPartial = directivesPage" title="Hawtio Directives">Hawtio Directives</a>
            </li>
            <li>
              <a href="http://hawt.io/developers/directives.html" title="External Directives we reuse from external projects">External Directives</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div id="main" class="container-fluid">
      <ng-include src="viewPartial"></ng-include>
    </div>
  </div>




    <!--
      Configure logging first thing...
    -->
    <script type="text/javascript" src="lib/rainbow.js?v=@VERSION@"></script>
    <script type="text/javascript" src="lib/language/javascript.js?v=@VERSION@"></script>
    <script type="text/javascript" src="lib/language/generic.js?v=@VERSION@"></script>
    <script type="text/javascript" src="lib/logger.min.js?v=@VERSION@"></script>

    <script type="text/javascript" src="lib/loggingInit.js?v=@VERSION@"></script>

    <!-- Now load and set up the plugin loader -->
    <script type="text/javascript" src="lib/hawtio-plugin-loader.js?v=@VERSION@"></script>

    <!--
        <script type="text/javascript">
          hawtioPluginLoader.setLoaderCallback({
            scriptLoaderCallback: function (self, total, remaining) {
              Logger.get("Core").debug("Total scripts: ", total, " Remaining: ", remaining);
            },
            urlLoaderCallback: function (self, total, remaining) {
              Logger.get("Core").debug("Total URLs: ", total, " Remaining: ", remaining);
            }
          });
        </script>
    -->

    <!-- charts and jolokia for jmx -->
    <script type="text/javascript" src="lib/d3.v3.min.js?v=@VERSION@"></script>

    <script type="text/javascript" src="lib/jquery-1.8.2.min.js?v=@VERSION@"></script>
    <script type="text/javascript" src="lib/jolokia-min.js?v=@VERSION@"></script>

    <script type="text/javascript" src="lib/cubism.v1.min.js?v=@VERSION@"></script>
    <script type="text/javascript" src="lib/jolokia-cubism-min.js?v=@VERSION@"></script>
    <script type="text/javascript" src="lib/jolokia-simple-min.js?v=@VERSION@"></script>

    <!-- UI framework -->
    <script type="text/javascript" src="lib/bootstrap.min.js?v=@VERSION@"></script>
    <!--
    TODO add patch for dashboard until angular supports nested custom injections
    <script type="text/javascript" src="lib/angular.min.js?v=@VERSION@"></script>
    -->
    <script type="text/javascript" src="lib/angular.js?v=@VERSION@"></script>
    <script type="text/javascript" src="lib/angular-bootstrap.min.js?v=@VERSION@"></script>
    <script type="text/javascript" src="lib/angular-resource.min.js?v=@VERSION@"></script>

    <!-- ng-grid -->
    <script type="text/javascript" src="lib/ng-grid.min.js?v=@VERSION@"></script>

    <!-- dyna tree -->
    <script type="text/javascript" src="lib/jquery-ui.custom.min.js?v=@VERSION@"></script>
    <script type="text/javascript" src="lib/jquery.cookie.js?v=@VERSION@"></script>
    <script type="text/javascript" src="lib/jquery.dynatree.min.js?v=@VERSION@"></script>

    <!-- dashboard -->
    <script type="text/javascript" src="lib/jquery.gridster.min.js?v=@VERSION@ "></script>

    <!-- data tables -->
    <script type="text/javascript" src="lib/jquery.dataTables.min.js?v=@VERSION@"></script>
    <script type="text/javascript" src="lib/jquery.datatable-bootstrap.js?v=@VERSION@"></script>
    <script type="text/javascript" src="lib/ColReorder.min.js?v=@VERSION@"></script>
    <script type="text/javascript" src="lib/KeyTable.js?v=@VERSION@"></script>

    <!-- XML 2 json -->
    <script type="text/javascript" src="lib/jquery.xml2json.js?v=@VERSION@"></script>

    <!-- jquery form -->
    <script type="text/javascript" src="lib/jquery.form.min.js?v=@VERSION@"></script>

    <!-- backstretch -->
    <script type="text/javascript" src="lib/jquery.backstretch.min.js?v=@VERSION@"></script>

    <!-- toastr notifications -->
    <script type="text/javascript" src="lib/toastr.js?v=@VERSION@"></script>

    <!-- buildGraph layout -->
    <script type="text/javascript" src="lib/dagre.min.js?v=@VERSION@"></script>

    <!-- draggy droppy diagrams -->
    <script type="text/javascript" src="lib/jquery.jsPlumb-1.4.1-all-min.js?v=@VERSION@"></script>

    <!-- ElasticSearch -->
    <script type="text/javascript" src="lib/elastic-angular-client.min.js?v=@VERSION@"></script>
    <script type="text/javascript" src="lib/elastic.min.js?v=@VERSION@"></script>

    <!-- Dangle -->
    <script type="text/javascript" src="lib/d3.min.js?v=@VERSION@"></script>
    <script type="text/javascript" src="lib/dangle.min.js?v=@VERSION@"></script>

    <!-- source format -->
    <script type="text/javascript" src="lib/codemirror/codemirror.js?v=@VERSION@"></script>
    <script type="text/javascript" src="lib/codemirror/addon/edit/closetag.js?v=@VERSION@"></script>
    <script type="text/javascript" src="lib/codemirror/addon/edit/continuecomment.js?v=@VERSION@"></script>
    <script type="text/javascript" src="lib/codemirror/addon/edit/continuelist.js?v=@VERSION@"></script>
    <script type="text/javascript" src="lib/codemirror/addon/edit/matchbrackets.js?v=@VERSION@"></script>
    <script type="text/javascript" src="lib/codemirror/addon/fold/foldcode.js?v=@VERSION@"></script>
    <script type="text/javascript" src="lib/codemirror/addon/format/formatting.js?v=@VERSION@"></script>
    <script type="text/javascript" src="lib/codemirror/mode/javascript/javascript.js?v=@VERSION@"></script>
    <script type="text/javascript" src="lib/codemirror/mode/xml/xml.js?v=@VERSION@"></script>
    <script type="text/javascript" src="lib/codemirror/mode/css/css.js?v=@VERSION@"></script>
    <script type="text/javascript" src="lib/codemirror/mode/htmlmixed/htmlmixed.js?v=@VERSION@"></script>
    <script type="text/javascript" src="lib/codemirror/mode/markdown/markdown.js?v=@VERSION@"></script>
    <script type="text/javascript" src="lib/codemirror/mode/diff/diff.js?v=@VERSION@"></script>
    <script type="text/javascript" src="lib/codemirror/mode/properties/properties.js?v=@VERSION@"></script>
    <script type="text/javascript" src="lib/codemirror/mode/clike/clike.js?v=@VERSION@"></script>
    <script type="text/javascript" src="lib/codemirror/mode/yaml/yaml.js?v=@VERSION@"></script>


    <!-- AngularUI -->
    <script type="text/javascript" src="lib/angular-ui.js?v=@VERSION@"></script>
    <script type="text/javascript" src="lib/ui-bootstrap-0.4.0.min.js?v=@VERSION@"></script>
    <script type="text/javascript" src="lib/ui-bootstrap-tpls-0.4.0.min.js?v=@VERSION@"></script>

    <!-- helper libraries -->
    <script type="text/javascript" src="lib/sugar-1.3.6-custom.min.js?v=@VERSION@"></script>

    <!-- camel model definition -->
    <script type="text/javascript" src="lib/camelModel.js?v=@VERSION@"></script>

    <!-- json schema definition -->
    <script type="text/javascript" src="lib/jsonschema.js?v=@VERSION@"></script>

    <!-- markdown renderer -->
    <script type="text/javascript" src="lib/marked.js?v=@VERSION@"></script>

    <!-- prefix free - handles browser css prefixes -->
    <!--[if !IE]> -->
    <script type="text/javascript" src="lib/prefixfree.min.js?v=@VERSION@"></script>
    <!-- <![endif]-->
    <!-- angular drag/drop directives -->
    <script type="text/javascript" src="lib/angular-dragdrop.min.js?v=@VERSION@"></script>

    <!-- JBoss DMR -->
    <script type="text/javascript" src="lib/dmr.js.nocache.js?v=@VERSION@"></script>

    <!-- zeroclipboard -->
    <script type="text/javascript" src="lib/ZeroClipboard.min.js?v=@VERSION@"></script>


    <!-- And finally the main app -->
    <script type="text/javascript" src="app/hawtio-directives.js?v=@VERSION@"></script>

    <!-- Distro customisations -->
    <script type="text/javascript" src="vendor.js?v=@VERSION@"></script>

  </body>


</html>
