<div ng-controller="JVM.JVMsController">

  <div class="row-fluid">
    <div class="pull-right">
      <button class="btn" ng-click="fetch()" title="Refresh"><i class="icon-refresh"></i></button>
    </div>
    <div class="pull-right">
      <input class="search-query" type="text" ng-model="filter" placeholder="Filter...">
    </div>
  </div>

  <div ng-hide="initDone">
    <div class="alert alert-info">
      <i class="icon-spinner icon-spin"></i> Please wait, discovering local JVM processes ...
    </div>
  </div>

  <div ng-hide='data.length > 0' class='row-fluid'>
    {{status}}
  </div>

  <div ng-show='data.length > 0' class="row-fluid">
    <table class='centered table table-bordered table-condensed table-striped'>
      <thead>
      <tr>
        <th style="width: 70px">PID</th>
        <th>Name</th>
        <th style="width: 300px">Agent URL</th>
        <th style="width: 50px"></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="jvm in data track by $index" ng-show="filterMatches(jvm)">
        <td>{{jvm.id}}</td>
        <td title="{{jvm.displayName}}">{{jvm.alias}}</td>
        <td><a href='' title="Connect to this agent"
               ng-click="connectTo(jvm.url, jvm.scheme, jvm.hostname, jvm.port, jvm.path)">{{jvm.agentUrl}}</a></td>
        <td>
          <a class='btn control-button' href="" title="Stop agent" ng-show="jvm.agentUrl"
             ng-click="stopAgent(jvm.id)"><i class="icon-off"></i></a>
          <a class='btn control-button' href="" title="Start agent" ng-hide="jvm.agentUrl"
             ng-click="startAgent(jvm.id)"><i class="icon-play-circle"></i></a>
        </td>
      </tr>

      </tbody>
    </table>

  </div>


</div>
