

<script type="text/ng-template" id="healthEventTemplate">
  <table class="table table-striped">
      <tbody>
      <tr ng-repeat="(key, value) in row track by $index">
        <td class="property-name">{{key | humanize}}</td>
        <td class="property-value">{{value}}</td>
      </tr>
      </tbody>
  </table>
</script>

<div class="controller-section" ng-controller="Health.HealthController">

  <div class="inline-block health-displays" ng-repeat="display in displays">
    <div class="health-display-title">{{display.mbean}}</div>
    <div ng-repeat="value in display.values" class="health-display inline-block {{value.level}}" >
      <div class="health-title centered">{{getTitle(value)}}</div>
      <div class="health-chart" title="{{value.message}}">
        <fs-donut bind="value.data" color-map="value.colorMap" outer-radius="200" inner-radius="75" duration="250"></fs-donut>
      </div>
    </div>
  </div>



  <!--

  <table cellpadding="0" cellspacing="0" border="0" class="table table-condensed table-bordered table-hover"
         id="grid">
    <thead>
    <tr>
      <th></th>
      <th>Level</th>
      <th>Domain</th>
      <th>Kind</th>
      <th>Message</th>
    </tr>
    </thead>
    <tbody>
  </table>
  -->

  <div class="inline-block" ng-repeat="result in results">
    <h6>result.</h6>
  </div>

</div>
