
@font-face {
    font-family: "FontAwesome";
    src: url('../font/fontawesome-webfont.eot');
    src: url('../font/fontawesome-webfont.eot?#iefix') format('eot'), url('../font/fontawesome-webfont.woff') format('woff'), url('../font/fontawesome-webfont.ttf') format('truetype'), url('../font/fontawesome-webfont.svg#FontAwesome') format('svg');
    font-weight: normal;
    font-style: normal;
}

span.dynatree-empty,
span.dynatree-vline,
span.dynatree-connector,
span.dynatree-expander,
span.dynatree-icon,
span.dynatree-checkbox,
span.dynatree-radio,
span.dynatree-drag-helper-img,
#dynatree-drop-marker
{
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    background-image: none;
    vertical-align: middle;
}

.dynatree-expander {
    color: #888888
}

/* Dynatree expander */
span.dynatree-expander:before
{
    margin-top: 1px;
    background-position: 0 0;
    cursor: pointer;
    content: "\f054";
}

span.dynatree-expander:before:hover
{
    background-position: 0 0;
    content: "\f054";
}

.dynatree-exp-e span.dynatree-expander:before,  /* Expanded, not delayed, not last sibling */
.dynatree-exp-ed span.dynatree-expander:before,  /* Expanded, delayed, not last sibling */
.dynatree-exp-el span.dynatree-expander:before,  /* Expanded, not delayed, last sibling */
.dynatree-exp-edl span.dynatree-expander:before  /* Expanded, delayed, last sibling */
{
    background-position: 0 0;
    content: "\f078";
}
.dynatree-exp-e span.dynatree-expander:before:hover,  /* Expanded, not delayed, not last sibling */
.dynatree-exp-ed span.dynatree-expander:before:hover,  /* Expanded, delayed, not last sibling */
.dynatree-exp-el span.dynatree-expander:before:hover,  /* Expanded, not delayed, last sibling */
.dynatree-exp-edl span.dynatree-expander:before:hover  /* Expanded, delayed, last sibling */
{
    background-position: 0 0;
    content: "\f0da";
}

/* closed folder */
.dynatree-ico-cf span.dynatree-icon:before {
    background-position: 0 0;
    content: "\f07b";
}

/* open folder */
.dynatree-ico-ef span.dynatree-icon:before {
    background-position: 0 0;
    content: "\f07c";
}

span.dynatree-icon:before {
    background-position: 0px 0px;
    content: "\f013";
}

/* org.apache.camel */
span.org-apache-camel span.dynatree-icon:before {
    content: url("../img/camel/camel.png");
}

span.org-apache-camel a.dynatree-title:before {
    content: "Camel - ";
}

ul.dynatree-container li ul li ul li span[class*="_context_"] span.dynatree-icon:before {
    content: url("../img/camel/camel_context_icon.png");
}

/* Camel File Consumer */
span[class*="_FileConsumer"] span.dynatree-icon:before {
    content: "\f0c5";
}


/* org.apache.activemq */
span.org-apache-activemq span.dynatree-icon:before {
    content: url("../img/activemq/message_broker.png");
}

span.org-apache-activemq a.dynatree-title {

}

span.org-apache-activemq a.dynatree-title:before {
    content: "Fuse MQ Broker - ";
}

/* Broker mbean */
span[class*="_Broker"] span.dynatree-icon:before {
    content: url("../img/activemq/message_broker.png");
}

/* Connection mbean */
span[class*="_Connection"] span.dynatree-icon:before {

}

/* Queue mbean */
span[class*="_Queue_"] span.dynatree-icon:before {
    content: url("../img/activemq/queue.png");
}

/* Topic mbean */
span[class*="_Topic_"] span.dynatree-icon:before {
    content: url("../img/activemq/topic.png");
}



