#main {
  margin-top: 64px;
}

.navbar .brand {
  font-size: 18px;
}

.property-name {
    white-space: nowrap;
}

.property-value {
}

#canvas {
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: block;
}

.fill {
    min-height: 100%;
    height: 100%;
}

html, body {
    height: 100%;
}

/* Chart stuff */

#charts {
/*
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  width: 1440px;
*/
  margin: 5px auto;
  position: relative;
  padding-bottom: 54px;
}

.group {
  margin-bottom: 1em;
}

.axis {
  font: 10px sans-serif;
/*
  position: fixed;
*/
  pointer-events: none;
  z-index: 2;
}

.axis text {
  -webkit-transition: fill-opacity 250ms linear;
}

.axis path {
  display: none;
}

.axis line {
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis.top {
  background-image: linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -o-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -moz-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -webkit-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -ms-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  top: 0px;
  padding: 0;
  border-bottom: 1px solid #aaaaaa;
}

.axis.bottom {
  border-top: 1px solid #aaaaaa;
  background-image: linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -o-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -moz-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -webkit-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -ms-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  position: absolute;
  bottom: 23px;
  padding: 0;
/*
  bottom: -54px;
*/
}

.horizon {
  border-bottom: solid 1px #eeeeee;
  overflow: hidden;
  position: relative;
}

.horizon:last-child {
  border-bottom: none;
}

.horizon + .horizon {
  border-top: none;
}

.horizon canvas {
  display: block;
}

.horizon .title,
.horizon .value {
  bottom: 0;
  line-height: 30px;
  margin: 0 6px;
  position: absolute;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  white-space: nowrap;
}

.horizon .title {
  left: 0;
}

.horizon .value {
  right: 0;
}

.line {
  background: #000;
  opacity: .2;
  z-index: 2;
}
/*

@media all and (max-width: 1439px) {
  .axis { position: static; }
  .axis.top, .axis.bottom { padding: 0; }
}
*/

/** TODO Write our own 'hawtio' codemirror style, so we can change this in preferences dynamically! :) */
/** Code formatting */

.CodeMirror {
  border: 1px solid #eee;
}
td {
  padding-right: 20px;
}

/** Table details view */
div.innerDetails {
    display: none;
}

.expandable {
    padding: 3px;
}

.expandable > .title {
    cursor: pointer;
}

i.expandable-indicator {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    color: #666;
}

.expandable.opened i.expandable-indicator:before {
    content: "\f078";
}

.expandable.closed i.expandable-indicator:before {
    content: "\f054";
}

.expandable.opened .expandable-body {
    display: inline-block;
    padding-bottom: 1px;
    margin-bottom: 3px;
}

.expandable.closed .expandable-body {
    display: none;
}

/** tree tweaks */
span.dynatree-expander {
    color: #728271;
}
span.dynatree-icon {
    color: #EECA7C;
}

span:not(.dynatree-has-children) .dynatree-icon:before {
  color: gray;
  content: "\f013";  
} 

/** table hover and nested divs */
.table-hover tbody tr:hover td.details {
  background-color: #ffffff;
}

/** row selection */
tr td.focus {
    background-color: #d9edf7;
}
.table-hover tbody tr:hover td.focus {
    background-color: #d9edf7;
}

.table-striped tbody tr:nth-child(odd) td.focus {
    background-color: #d9edf7;
}

ul.inline, ol.inline {
    margin-left: 0;
    list-style: none;
}

ul.inline > li, ol.inline > li {
    display: inline-block;
    padding-right: 2px;
    padding-left: 2px;
}

.tab {
    display: block;
    margin-left: 1em;
}

.red {
/*
  color: #ff0000;
*/
    color: red;
}

.green {
/*
  color: #00ff00;
*/
    color: green;
}

.icon1point5x {
  font-size: 1.5em;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.no-bottom-margin {
  margin-bottom: 0em;
}

.no-bottom-margin .control-group {
  margin-bottom: 4px;
}

li.attr-column {
  width: 1em;
}


.editor-autoresize .CodeMirror {
  border: 1px solid #eee;
  height: auto;
}

.editor-autoresize .CodeMirror .CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.gridster ul#widgets {
  list-style-type: none;

}

.gridster ul#widgets .gs_w {
  padding: 0px;
}

.widget-title {
  margin: 0;

  border-radius: 5px 5px 0px 0px;

  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;

  transition: background .25s ease-in-out;
  -moz-transition: background .25s ease-in-out;
  -webkit-transition: background .25s ease-in-out;

  transition: border .25s ease-in-out;
  -moz-transition: border .25s ease-in-out;
  -webkit-transition: border .25s ease-in-out;

  background-color: #ededed;
  background-image: -moz-linear-gradient(top, #f2f2f2, #e5e5e5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, #f2f2f2, #e5e5e5);
  background-image: -o-linear-gradient(top, #f2f2f2, #e5e5e5);
  background-image: linear-gradient(to bottom, #f2f2f2, #e5e5e5);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#ffe5e5e5', GradientType=0);
  border-color: #e5e5e5 #e5e5e5 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e5e5e5;

}

.widget-title:hover {
  cursor: move;
  border-bottom-color: #dedede;
  background: #cecece;
}

.widget-title .row-fluid .pull-right > i {
  cursor: pointer;
  opacity: .25;
}

.widget-title .row-fluid .pull-right > i:hover {

  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;

  opacity: 1;
}


.widget-body {
  padding: 2px;
  overflow: auto;
}

.ep > i {
  cursor: pointer;
  opacity: .25;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.ep > i:hover {
  opacity: 1;
}

.ep form fieldset i {
  cursor: pointer;
}

.ep form.no-bottom-margin {
  margin-bottom: 2px;
}

.ngFooterPanel {
  background: inherit;
}

.ngTotalSelectContainer {
  margin: 0px;
}

.ngTopPanel {
  background: inherit;
}

.ngGrid {
  background: inherit;
}

.ngViewport {
  margin-left: 0px;
  margin-right: 0px;
}

#widgets li div div div div form fieldset div input {
  display: none;
}

#widgets li div div div div div#attributesGrid div.ngTopPanel {
  display: none;
}

#widgets li div div div div div#attributesGrid div div div div.ngHeaderCell {
  border: none;
}

#widgets li div div div div div#attributesGrid div div div div.ngCell {
  border: none;
}

#widgets li div div div div div#attributesGrid div.ngTopPanel {
  border: none;
}

#widgets li div div div div div#attributesGrid div.ngTopPanel div.ngGroupPanel {
  border: none;
}

#widgets li div div div div div#attributesGrid div.ngFooterPanel {
  border: none;
  display: none;
}

.ngFooterPanel {
  border-top: none;
}

.ngRow .ngCell:last-child {
  border-right: none;
}

.ngRow:last-child {
  border-bottom: none;
}

.ngFooterTotalItems span:first-child {
  margin-right: .5em;
}
