#main {
  margin-top: 64px;
}

.navbar .brand {
  font-size: 18px;
}

.property-name {
    white-space: nowrap;
}

.property-value {
}

#canvas {
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: block;
}

.fill {
    min-height: 100%;
    height: 100%;
}

html, body {
    height: 100%;
}

/* Chart stuff */

#charts {
/*
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  width: 1440px;
*/
  margin: 5px auto;
  position: relative;
  padding-bottom: 54px;
}

.group {
  margin-bottom: 1em;
}

.axis {
  font: 10px sans-serif;
/*
  position: fixed;
*/
  pointer-events: none;
  z-index: 2;
}

.axis text {
  -webkit-transition: fill-opacity 250ms linear;
}

.axis path {
  display: none;
}

.axis line {
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis.top {
  background-image: linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -o-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -moz-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -webkit-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -ms-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  top: 0px;
  padding: 0 0 24px 0;
}

.axis.bottom {
  background-image: linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -o-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -moz-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -webkit-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -ms-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  position: absolute;
  bottom: 0px;
  padding: 24px 0 0 0;
/*
  bottom: -54px;
*/
}

.horizon {
  border-bottom: solid 1px #000;
  overflow: hidden;
  position: relative;
}

.horizon {
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
}

.horizon + .horizon {
  border-top: none;
}

.horizon canvas {
  display: block;
}

.horizon .title,
.horizon .value {
  bottom: 0;
  line-height: 30px;
  margin: 0 6px;
  position: absolute;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  white-space: nowrap;
}

.horizon .title {
  left: 0;
}

.horizon .value {
  right: 0;
}

.line {
  background: #000;
  opacity: .2;
  z-index: 2;
}
/*

@media all and (max-width: 1439px) {
  .axis { position: static; }
  .axis.top, .axis.bottom { padding: 0; }
}
*/

/** TODO Write our own 'hawtio' codemirror style, so we can change this in preferences dynamically! :) */
/** Code formatting */

.CodeMirror {
  border: 1px solid #eee;
}
td {
  padding-right: 20px;
}

/** Table details view */
div.innerDetails {
    display: none;
}

.expandable {
    padding: 3px;
}

.expandable > .title {
    cursor: pointer;
}

i.expandable-indicator {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    color: #666;
}

.expandable.opened i.expandable-indicator:before {
    content: "\f078";
}

.expandable.closed i.expandable-indicator:before {
    content: "\f054";
}

.expandable.opened .expandable-body {
    display: inline-block;
    padding-bottom: 1px;
    margin-bottom: 3px;
}

.expandable.closed .expandable-body {
    display: none;
}

/** tree tweaks */
span.dynatree-expander {
    color: #728271;
}
span.dynatree-icon {
    color: #EECA7C;
}

/** table hover and nested divs */
.table-hover tbody tr:hover td.details {
  background-color: #ffffff;
}

/** row selection */
tr td.focus {
    background-color: #d9edf7;
}
.table-hover tbody tr:hover td.focus {
    background-color: #d9edf7;
}

.table-striped tbody tr:nth-child(odd) td.focus {
    background-color: #d9edf7;
}

ul.inline, ol.inline {
    margin-left: 0;
    list-style: none;
}

ul.inline > li, ol.inline > li {
    display: inline-block;
    padding-right: 2px;
    padding-left: 2px;
}

.tab {
    display: block;
    margin-left: 1em;
}

/*style.css*/
.gridStyle {
    border: 1px solid rgb(212,212,212);

    /* TODO REMOVE ASAP and use a floating layout instead */
    height: 600px;
}

.red {
/*
  color: #ff0000;
*/
    color: red;
}

.green {
/*
  color: #00ff00;
*/
    color: green;
}

.icon1point5x {
  font-size: 1.5em;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.no-bottom-margin {
  margin-bottom: 0em;
}

li.attr-column {
  width: 1em;
}


.editor-autoresize .CodeMirror {
  border: 1px solid #eee;
  height: auto;
}

.editor-autoresize .CodeMirror .CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.gridster ul#widgets {
  list-style-type: none;

}

.gridster ul#widgets .gs_w {
  border: 1px solid #9a9a9a;
  border-radius: 5px;
  padding: 0px 0px 5px;
  background: lightgrey;

}

.widget-title {
  margin: 0px 0px 5px;

  border-bottom: 1px solid #6c6c6c;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;

  padding-left: 1em;
  padding-right: 1em;
  font-weight: bold;

  background: #bebebe;
  background: -moz-linear-gradient(top,  #bebebe 0%, #a2a2a2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bebebe), color-stop(100%,#a2a2a2));
  background: -webkit-linear-gradient(top,  #bebebe 0%,#a2a2a2 100%);
  background: -o-linear-gradient(top,  #bebebe 0%,#a2a2a2 100%);
  background: -ms-linear-gradient(top,  #bebebe 0%,#a2a2a2 100%);
  background: linear-gradient(to bottom,  #bebebe 0%,#a2a2a2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bebebe', endColorstr='#a2a2a2',GradientType=0 );

  color: rgba(32, 32, 32, 0.5);
  text-shadow: rgba(255,255,255,0.5) 1px 1px 2px;
}

.widget-title:hover {
  cursor: move;
  background: #cecece;
  background: -moz-linear-gradient(top,  #cecece 0%, #b2b2b2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cecece), color-stop(100%,#b2b2b2));
  background: -webkit-linear-gradient(top,  #cecece 0%,#b2b2b2 100%);
  background: -o-linear-gradient(top,  #cecece 0%,#b2b2b2 100%);
  background: -ms-linear-gradient(top,  #cecece 0%,#b2b2b2 100%);
  background: linear-gradient(to bottom,  #cecece 0%,#b2b2b2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#b2b2b2',GradientType=0 );
}

.widget-body {
  padding: 0px 2px 2px;
}
