.navbar .brand {
  font-size: 18px;
}

.property-name {
  white-space: nowrap;
}

.property-value {
}

#canvas {
  display: inline-block;
}

.fill {
  min-height: 100%;
  height: 100%;
}

/* sub tab tweaks */
body div div ul.nav {
  margin-bottom: 5p;
  border-bottom: none;
}

ul.dynatree-container {
  background: inherit;
}

ul.dynatree-container li {
  background: inherit;
}

/* Chart stuff */

#charts {
  /*
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    width: 1440px;
  */
  margin: 5px auto;
  position: relative;
  padding-bottom: 54px;
}

.group {
  margin-bottom: 1em;
}

.axis {
  font: 10px sans-serif;
  /*
    position: fixed;
  */
  pointer-events: none;
  z-index: 2;
}

.axis.text {
  -webkit-transition: fill-opacity 250ms linear;
}

.axis path {
  display: none;
}

.axis line {
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis.top {
  background-image: linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -o-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -moz-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -webkit-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -ms-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  top: 0px;
  padding: 0;
  border-bottom: 1px solid #aaaaaa;
}

.axis.bottom {
  border-top: 1px solid #aaaaaa;
  background-image: linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -o-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -moz-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -webkit-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -ms-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  position: absolute;
  bottom: 23px;
  padding: 0;
  /*
    bottom: -54px;
  */
}

.horizon {
  border-bottom: solid 1px #eeeeee;
  overflow: hidden;
  position: relative;
}

.horizon:last-child {
  border-bottom: none;
}

.horizon + .horizon {
  border-top: none;
}

.horizon canvas {
  display: block;
}

.horizon .title,
.horizon .value {
  bottom: 0;
  line-height: 30px;
  margin: 0 6px;
  position: absolute;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  white-space: nowrap;
}

.horizon .title {
  left: 0;
}

.horizon .value {
  right: 0;
}

.line {
  background: #000;
  opacity: .2;
  z-index: 2;
}
/*

@media all and (max-width: 1439px) {
  .axis { position: static; }
  .axis.top, .axis.bottom { padding: 0; }
}
*/

/** TODO Write our own 'hawtio' codemirror style, so we can change this in preferences dynamically! :) */
/** Code formatting */

.CodeMirror {
  border: 1px solid #eee;
}
td {
  padding-right: 20px;
}

.expandable {
  padding: 3px;
} 
.expandable > .title {
  cursor: pointer;
}

i.expandable-indicator {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  color: #666;
}

.expandable-body form fieldset legend {
  font-size: inherit;
  margin-bottom: 0px;
}

.expandable.opened i.expandable-indicator:before {
  font-family: FontAwesome;
  content: "\f078";
}

.expandable.closed i.expandable-indicator:before {
  font-family: FontAwesome;
  content: "\f054";
}

.expandable.opened .expandable-body {
  display: inline-block;
  margin-bottom: 3px;
}

.expandable.closed .expandable-body {
  display: none;
}

/** tree tweaks */
span.dynatree-expander {
  color: #728271;
}
span.dynatree-icon {
  color: #EECA7C;
}

span:not(.dynatree-has-children) .dynatree-icon:before {
  font-family: FontAwesome;
  color: gray;
  content: "\f013";
}

/** table hover and nested divs */
.table-hover tbody tr:hover td.details {
  background-color: #ffffff;
}

/** row selection */
tr td.focus {
  background-color: #d9edf7;
}
.table-hover tbody tr:hover td.focus {
  background-color: #d9edf7;
}

.table-striped tbody tr:nth-child(odd) td.focus {
  background-color: #d9edf7;
}

ul.inline, ol.inline {
  margin-left: 0;
  list-style: none;
}

ul.inline > li, ol.inline > li {
  display: inline-block;
  padding-right: 2px;
  padding-left: 2px;
}

.tab {
  display: block;
  margin-left: 1em;
}

.red {
  color: red;
}

.orange {
    color: orange;
}

.yellow {
  color: yellow;
}

.green {
  color: green;
}

.icon1point5x {
  font-size: 1.5em;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.no-bottom-margin {
  margin-bottom: 0em;
}

.no-bottom-margin .control-group {
  margin-bottom: 4px;
}

li.attr-column {
  width: 1em;
}


.editor-autoresize .CodeMirror {
  height: auto;
}

.well.editor-autoresize {
  padding: 0px;
}

.well.editor-autoresize .CodeMirror {
  margin-bottom: 0px;
  border: none;
}

.editor-autoresize .CodeMirror .CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.gridster ul#widgets {
  list-style-type: none;
}

.gridster ul#widgets .gs_w {
  padding: 0px;
  border: 1px solid #D4D4D4;
  overflow: hidden;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  position: relative;
  border-radius: 6px;
}

.gridster ul#widgets .gs_w.dragging {
  box-shadow: 0 1px 13px rgba(0, 0, 0, 0.12);
}

.gridster ul#widgets .preview-holder {
  transition-property: opacity;
  transition-duration: 500ms;

  padding: 1px;
  border-radius: 6px;
  border: 1px solid #D4D4D4;
  box-shadow: 0 1px 13px rgba(0, 0, 0, 0.1) inset;
}

.widget-title {
  margin: 0;

  padding-left: 5px;
  padding-right: 5px;

  background-color: #FAFAFA;
  background-image: -moz-linear-gradient(top, #FFFFFF, #F2F2F2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#F2F2F2));
  background-image: -webkit-linear-gradient(top, #FFFFFF, #F2F2F2);
  background-image: -o-linear-gradient(top, #FFFFFF, #F2F2F2);
  background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F2F2F2', GradientType=0);

  border-bottom: 1px solid #D4D4D4;

  color: #777777;
  text-shadow: 0 1px 0 #FFFFFF;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}

.widget-title:hover {
  cursor: move;
  color: #333333;
  text-shadow: 0 1px 0 #FFFFFF;
  border-bottom: 1px solid #D4D4D4;

  background-image: -moz-linear-gradient(top, #fafafa, #f0f0f0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#f0f0f0));
  background-image: -webkit-linear-gradient(top, #fafafa, #f0f0f0);
  background-image: -o-linear-gradient(top, #fafafa, #f0f0f0);
  background-image: linear-gradient(to bottom, #fafafa, #f0f0f0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#f0f0f0', GradientType=0);

}

.widget-title .row-fluid .pull-right > i {
  cursor: pointer;
  opacity: .25;
}

.widget-title .row-fluid .pull-right > i:hover {

  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;

  opacity: 1;
}

.widget-body {
  padding: 2px;
}

.height-controls a {
  float: left;
  display: block;
  color: #bfbfbf;
  opacity: .1;
  text-decoration: none;
}

.width-controls a {
  float: left;
  display: block;
  color: #bfbfbf;
  opacity: .1;
  text-decoration: none;
}

.width-controls a:hover {
  opacity: .9;
  text-decoration: none;
}

.height-controls a:hover {
  opacity: .9;
  text-decoration: none;
}

.width-controls {
  font-size: 32px;
  z-index: 50;
  position: absolute;
  width: 1.5em;
  height: 3em;
  display: block;
  right: 5px;
  top: 43%;
}

.height-controls {
  font-size: 32px;
  z-index: 50;
  position: absolute;
  display: block;
  width: 3em;
  height: 1.5em;
  left: 41%;
  bottom: 5px;
}

.ep > i {
  cursor: pointer;
  opacity: .25;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.ep > i:hover {
  opacity: 1;
}

.ep form fieldset i {
  cursor: pointer;
}

.ep form.no-bottom-margin {
  margin-top: 4px;
  margin-bottom: 4px;
}

.ngFooterPanel {
  background: inherit;
}

.ngTotalSelectContainer {
  margin: 0px;
}

.ngTopPanel {
  background: inherit;
}

.ngGrid {
  background: inherit;
}

.ngViewport {
  margin-left: 0px;
  margin-right: 0px;
}

#widgets li div div div div form fieldset div input {
  display: none;
}

#widgets li div div div div div#attributesGrid div.ngTopPanel {
  /* display: none; */
}

#widgets li div div div div div#attributesGrid div div div div.ngHeaderCell {
  border: none;
}

#widgets li div div div div div#attributesGrid div div div div.ngCell {
  border: none;
}

#widgets li div div div div div#attributesGrid div.ngTopPanel {
  border: none;
}

#widgets li div div div div div#attributesGrid div.ngTopPanel div.ngGroupPanel {
  border: none;
}

#widgets li div div div div div#attributesGrid div.ngFooterPanel {
  border: none;
  display: none;
}

.ngFooterPanel {
  border-top: none;
}

.ngRow .ngCell:last-child {
  border-right: none;
}

.ngRow:last-child {
  border-bottom: none;
}

.ngFooterTotalItems span:first-child {
  margin-right: .5em;
}

.ngCellText:hover i:before {
  text-shadow: 0px 0px 8px rgba(150, 150, 150, 1);
}

.ACTIVE:before {
  font-family: FontAwesome;
  content: "\f087";
  font-style: normal;
  color: rgb(119, 119, 119)
}

.RESOLVED:before {
  font-family: FontAwesome;
  content: "\f0ad"; 
  font-style: normal; 
}

.STARTING:before { 
  font-family: FontAwesome;
  content: "\f021"; 
  font-style: normal;
}

.STARTING {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

.STOPPING:before { 
  font-family: FontAwesome;
  content: "\f021";  
  font-style: normal;
}

.STOPPING {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

.UNINSTALLED:before {
  font-family: FontAwesome;
  content: "\f014";  
  font-style: normal;
}

.INSTALLED:before { 
  font-family: FontAwesome;
  content: "\f06b";  
  font-style: normal;
}

.table-bordered {
  border: none;
  border-radius: 0px;
}

.table-bordered thead:first-child tr:first-child th:first-child, .table-bordered tbody:first-child tr:first-child td:first-child {
  border-radius: 0px;
  border-left: none;
}

.table-bordered th {
  border-bottom: 1px solid rgb(212,212,212);
}

.table-bordered th, .table-bordered td {
  border-left: none;
  border-top: none;
  border-right: 1px solid rgb(212,212,212);
}

.table-bordered th:last-child, .table-bordered td:last-child {
  border-left: none;
  border-top: none;
  border-right: none;
}

table.table thead .sorting {
  background: inherit;
}

table.table thead .sorting_asc:after {
  background: url('../img/datatable/sort_asc.png') no-repeat top center;
}

table.table thead .sorting_desc:after {
  background: url('../img/datatable/sort_desc.png') no-repeat top center;
}

.dataTables_filter label {
  margin-bottom: 0px;
}

.dataTables_filter label input {
  padding-right: 14px;
  padding-right: 4px \9;
  padding-left: 14px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */

  margin-bottom: 0;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.nav {
  margin-bottom: 10px;
}

.navbar-fixed-top {
  margin-bottom: 0px;
}

div#main div ul.nav {
  margin-bottom: 10px;
  border-radius: 0 0 4px 4px;
  border: none;
  min-width: 120px;
  border: 1px solid #D4D4D4;
  border-top: 1px transparent;
  background-color: #FAFAFA;
  background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
  background-repeat: repeat-x;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

div#main div ul.nav li {
  margin-top: 3px;
  margin-bottom: 3px;
}

.navbar .btn-navbar span {
  color: #777777;
  text-shadow: 0 1px 0 #FFFFFF;
}

.navbar .btn-navbar span:after {
  font-family: FontAwesome;
  content: "\f0de";
  margin-left: 7px;
}

.navbar .btn-navbar.collapsed span:after {
  font-family: FontAwesome;
  content: "\f0dd";
  margin-left: 7px;
}

div#main div ul.nav {
  padding-left: 3px;
  padding-right: 3px;
}

.nav-tabs > li > a, .nav-pills > li > a {
  margin-right: 0px;
}

div#main div ul.nav li.active a {
  border: 1px;
  border-radius: 2px;
  background-color: #E5E5E5;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
  text-shadow: 0 1px 0 #FFFFFF;
}

div#main div ul.nav li.active a:hover {
  border: 1px;
  border-radius: 2px;
  background-color: #E5E5E5;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
  text-shadow: 0 1px 0 #FFFFFF;
}

div#main div ul.nav li a {
  border: 1px;
  border-radius: 2px;
  background: inherit;
  padding-bottom: 2px;
  padding-top: 2px;
  color: #777777;
  text-shadow: 0 1px 0 #FFFFFF;
}

div#main div ul.nav li a:hover {
  border: 1px;
  border-radius: 2px;
  background: inherit;
  padding-bottom: 2px;
  padding-top: 2px;
  color: #333333;
  text-shadow: 0 1px 0 #FFFFFF;
}

#main div div div section .tabbable .nav.nav-tabs {
  margin-top: 0px;
  margin-bottom: 10px;
  border-radius: 0 0 4px 4px;
  border: none;
  min-width: 120px;
  border: 1px solid #D4D4D4;
  border-top: 1px transparent;
  background-color: #FAFAFA;
  background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
  background-repeat: repeat-x;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

#main div div div .nav.nav-tabs:not(.connected) {
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #d4d4d4;
}

.logbar {
  z-index: 50;
  background: white;
  position: fixed;
  width: 87%;
  top: 40px;
  left: 5%;
  border-bottom: 1px solid #d4d4d4;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  padding-right: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4;
}

.logbar-container {
  margin-top: 10px;
  margin-bottom: 5px;
}

.logbar-container .control-group {
  margin-bottom: 5px;
}

.log-main {
  margin-top: 55px;
}

.log-filter {
  margin-right: 30px;
}

.ui-resizeable-handle {
  display: none;
}

.ui-resizable-se {
  height: 10px;
  width: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  background: inherit;
  box-shadow: -3px -3px 10px rgba(0, 0, 0, 0.1) inset;
  font-size: 32px;
  z-index: 50;
  position: absolute;
  display: block;
  right: 0px;
  bottom: 0px;
  border-radius: 6px;
  border: 1px solid #d4d4d4;
  cursor: se-resize;

}

.no-log {
  margin-top: 55px;
}

.prefs {
  margin-top: 1.5em;
}

.control i {
  cursor: pointer;
}

td.details {
  padding: 0px;
  border: none;
  margin: 0px;
  height: 0px;
}

.innerDetails {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.1) inset;
  padding: 5px;
  border: 1px solid #d4d4d4;
  white-space: normal;
  display: none;
  background: #ffffff;
}

table.dataTable {
  table-layout: fixed;
}

table.dataTable tbody tr td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.odd {
  background-color: #f9f9f9;
}

div#main div div div div div.logbar div.logbar-container ul.nav.nav-tabs {
  border: none;
  margin: 0px;
  border-radius: 0;
  box-shadow: none;
  background: inherit;
}

.wiki.logbar-container {
  margin-top: 2px;
  margin-bottom: 2px;
}

.wiki-fixed {
  margin-top: 40px;
}

.help-sidebar li {
  padding-left: 2px;
  padding-right: 2px;
}

.help-sidebar li a {
  padding-left: 3px;
  padding-right: 3px;
}


.help-sidebar li:first-child {
  margin-top: 0px !important;
  padding-top: 3px;
}

.help-display img:not(.no-shadow) {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.text-shadowed {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.help-display h5 {
  margin-top: 2em;
}

.help-display h6 {
  margin-top: 2em;
}

.form-data {
  display: inline-block;
  margin: 5px;
}

input[type="checkbox"].hawtio-checkbox {
  margin-top: 10px;
}

#bundleTable tbody tr td a {
  border-radius: 4px;
  border: 1px solid #D4D4D4;
  display: block;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);

  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 34%, #f4f4f4 76%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(34%,#ffffff), color-stop(76%,#f4f4f4));
  background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 34%,#f4f4f4 76%);
  background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 34%,#f4f4f4 76%);
  background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 34%,#f4f4f4 76%);
  background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 34%,#f4f4f4 76%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 );
  z-index: 5;
}

#bundleTable tbody tr td a:hover {
  text-decoration: none;
}

#bundleTable tbody tr td a span {
  background: inherit;
  border-radius: 4px;
  border: 0px;
  display: block;
  padding: 8px;
  color: #404040;
  text-shadow: none;
  font-weight: normal;
  z-index: 6;
}

#bundleTable tbody tr td a span.badge {
  margin-left: 7px;
}

#bundleTable tbody tr td a span.badge::before {
  padding: 0px;

  float: left;

  position: relative;
  top: 4px;
  left: -8px;

  display: block;
  content: ' ';
  height: 6px;
  width: 6px;
  border-radius: 3px;
  background: rgb(115, 115, 115);
  z-index: 10;
}

#bundleTable tbody tr td a span.badge-success::before {
  background: rgb(28, 209, 29);
  box-shadow: inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5),
                    0px 0px 4px 1px rgba(34, 203, 1, 0.49);
}

#bundleTable tbody tr td a span.badge-inverse::before {
  background: rgb(115, 115, 115);
  box-shadow: inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
}

#bundleTable tbody tr td a span.badge-important::before {
  background: rgb(238, 0, 2);

  box-shadow: inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5),
                    0px 0px 4px 1px rgba(195, 6, 0, 0.47);
}

#bundleTable {
  margin-bottom: 10em;
  margin-left: auto;
  margin-right: auto;
}

div.hawtio-form-tabs div.tab-content {
  border: 1px solid #D4D4D4;
  border-radius: 4px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  padding-top: 15px;
  padding: 10px;

}

.hawtio-form fieldset legend {
  margin-bottom: 0px;
  border-bottom: none;
}

.spacer {
  display: inline-block;
  margin-bottom: 10px;
}

div.hawtio-form-tabs ul.nav-tabs {
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  background: inherit;
  background-color: inherit !important;
  background-image: inherit !important;
  border-top: none !important;
  /* border-bottom: 1px solid #D4D4D4 !important; */
  margin-bottom: 0px !important;
}

div.hawtio-form-tabs ul.nav-tabs li {
  border: 1px solid #D4D4D4 !important;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-right: -1px;
  background-color: inherit;
  margin-bottom: -1px !important;
  box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.08) !important;
}

div.hawtio-form-tabs ul.nav-tabs li.active:first-child {
  margin-left: 0px;
}

div.hawtio-form-tabs ul.nav-tabs li.active {
  margin-right: 1px;
  margin-left: 2px;
  border-bottom: 1px solid white !important;
  background-color: white;
  box-shadow: 0 -10px 10px -10px rgba(0, 0, 0, 0.1) !important;
}

div.hawtio-form-tabs ul.nav-tabs li.active a {
  box-shadow: none !important;
  text-shadow: none !important;
  background-color: inherit !important;
}

.popover-inner .popover-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.popover {
  width: auto;
}
