<form>
  <div class="control-group">
    <input type="submit" class="btn" value="View Chart" ng-click="createChart()" ng-disabled="!(selectedAttributes.length && selectedMBeans.length)"/>
  </div>
  <div class="control-group">
    <table class="table">
      <thead>
      <tr>
        <th>Attributes</th>
        <th>Elements</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <select id="attributes" size="20" multiple ng-multiple="true" ng-model="selectedAttributes"
                  ng-options="name | humanize for (name, value) in metrics"></select>
        </td>
        <td>
          <select id="mbeans" size="20" multiple ng-multiple="true" ng-model="selectedMBeans"
                  ng-options="name for (name, value) in mbeans"></select>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</form>