<p>The Fuse Console helps you work with <a href="http://activemq.apache.org/">Apache ActiveMQ</a>, <a href="http://camel.apache.org/">Camel</a> and <a href="http://karaf.apache.org/">Karaf</a>. The following gives you some hints on how to use Fuse Console</p>

<h2>ActiveMQ</h2>

<p>Click on the <b>org.apache.activemq</b> node in the tree which then exposes the brokers running in a JVM (if there is one)</p>

<p>Within the <b>org.apache.activemq</b> node you can click on the <b>Queue</b> node to see the queues and <b>Topic</b> to see the topics. From either of these nodes you should see a <b>Create Queue</b> or <b>Create Topic</b> tab to be able to create new destinations.</p>

<p>Once you have selected a destination you should be able to <b>Send</b> to it, <b>Browse</b> a queue or view the <b>Attributes</b> or <b>Charts</b></p>

<h2>Camel</h2>

<p>Click on the <b>org.apache.camel</b> node in the tree which then exposes any Camel Context running in a JVM (if there is one)</p>

<p>The various child nodes of <b>org.apache.camel</b> lets you view the <b>Attributes</b> or <b>Charts</b> of the various JMX MBeans</p>

<p>Selecting the <b>context</b> instance (within the <b>context folder</b> lets you view the <b>Diagram</b> of the running routes</p>
