<ul class="unstyled">
  <li ng-repeat="item in operations">
    <div class="expandable closed" ng-controller="OperationController">
      <div title="{{desc}}" class="title">
        <i class="icon-caret-right expandable-indicator"></i> {{title}}
      </div>
      <div class="well hidden">
        <form class="form-horizontal">
          <fieldset>
            <div class="control-group" ng-repeat="arg in args">
              <label class="control-label">{{arg.name}} ({{arg.type}}): </label>
                <div class="controls" ng-switch on="arg.formType">
                  <input ng-switch-when="text" type='text' ng-model="arg.value">
                  <input ng-switch-when="number" type='number' ng-model="arg.value">
                  <!-- <span class="help-block">type: {{arg.type}}</span> -->
                </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <button class="btn cancel"><i class="icon-remove"></i>Cancel</button>
                <button class="btn btn-success execute" ng-click="execute(args)"><i class="icon-ok"></i>Execute</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </li>
</ul>
