/* You can customise the styles of your application here. */

/* Change the background image for Login page and About modal */
.pf-v5-c-login, .pf-v5-c-about-modal-box {
  background-image: url("../img/background.svg") !important;
  background-size: cover;
}
