<div ng-controller="Kubernetes.OverviewController">
  <div class="ex-node-container gridStyle" 
       hawtio-jsplumb
       node-sep="100"
       rank-sep="250">
    <div ng-repeat="service in services">
      <div
        id="{{service.id}}"
        anchors="Continuous"
        connect-to="{{service.connectTo}}"
        class="jsplumb-node ex-node">
        {{service.id}}
      </div>
    </div>
    <div ng-repeat="pod in pods">
      <div id="{{pod.id}}"
           anchors="Continuous"
           class="jsplumb-node ex-node">
        {{pod.id}}
      </div>
    </div>
    <div ng-repeat="replicationController in replicationControllers">
      <div
          id="{{replicationController.id}}"
          anchors="Continuous"
          connect-to="{{replicationController.connectTo}}"
          class="jsplumb-node ex-node">
        {{replicationController.id}}
      </div>
    </div>
  </div>
</div>
