<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
  version="2.4">

  <description>Sample Hawtio branding plugin</description>
  <display-name>Hawtio branding plugin</display-name>

  <context-param>
    <description>Location of the plugin</description>
    <param-name>plugin-url</param-name>
    <param-value>${plugin-url}</param-value>
  </context-param>

  <context-param>
    <description>Name of the plugin</description>
    <param-name>plugin-name</param-name>
    <param-value>${plugin-name}</param-value>
  </context-param>

  <context-param>
    <description>Module path of the plugin</description>
    <param-name>plugin-module</param-name>
    <param-value>${plugin-module}</param-value>
  </context-param>

  <listener>
    <listener-class>io.hawt.example.branding.PluginContextListener</listener-class>
  </listener>

</web-app>

