/* You can customise the styles of your application here. */

/* Change the background image for Login page and About modal */
.pf-v5-c-login, .pf-v5-c-about-modal-box {
  background-image: url("../img/background.svg") !important;
  background-size: cover;
}

/* Example of global style overrides:
:root {
  --pf-global--primary-color--100: #b21054;
  --pf-global--primary-color--200: #b24e78;
  --pf-global--primary-color--light-100: #b24e78;
  --pf-global--primary-color--dark-100: #b21054;
  --pf-global--active-color--100: #b21054;
  --pf-global--active-color--200: #b24e78;
  --pf-global--active-color--300: #b24e78;
  --pf-global--active-color--400: #b24e78;
  --pf-global--link--Color: #b21054;
  --pf-global--link--Color--hover: #b24e78;
  --pf-v5-global--primary-color--100: #b21054;
  --pf-v5-global--primary-color--200: #b24e78;
  --pf-v5-global--link--Color: var(--pf-v5-global--danger-color--100);
}
*/
