<div>
    <table class="table-hover">
        <tr>
            <td></td>
            <td class="less-big">
                <div class="btn-group">
                    <button ng-click="stopBundle(bundleId)" class="btn" title="stop"><i class="icon-stop"/></button>
                    <button ng-click="startBundle(bundleId)" class="btn" title="start"><i class="icon-play"/></button>
                    <button ng-click="refreshBundle(bundleId)" class="btn" title="refresh"><i class="icon-refresh"/></button>
                    <button ng-click="updateBundle(bundleId)" class="btn" title="update"><i class="icon-cloud-download"/></button>
                    <button ng-click="uninstallBundle(bundleId)" class="btn" title="uninstall"><i class="icon-eject"/></button>
                </div>
            </td>
        </tr>
        <tr>
            <td><strong>Identifier:</strong></td>
            <td class="less-big">{{row.Identifier}}
            </td>
        </tr>
        <tr>
            <td><strong>Symbolic&nbsp;Name:</strong></td>
            <td class="less-big">{{row.SymbolicName}}
            </td>
        </tr>
        <tr>
            <td><strong>Version:</strong></td>
            <td class="less-big">{{row.Version}}
            </td>
        </tr>
        <tr>
            <td><strong>Start&nbsp;Level:</strong></td>
            <td class="less-big">{{row.StartLevel}}
            </td>
        </tr>
        <tr>
            <td><strong>Location:</strong></td>
            <td class="less-big">{{row.Location}}
            </td>
        </tr>
        <tr>
            <td><strong>State:</strong></td>
            <td>
                <div class="less-big label" ng-class="row.stateStyle">{{row.State}}</div>
            </td>
        </tr>
        <tr>
            <td><strong>Last&nbsp;Modified:</strong></td>
            <td class="less-big">{{row.LastModified | date:'medium'}}
            </td>
        </tr>
        <tr>
            <td><strong>Fragment:</strong></td>
            <td class="less-big">{{row.Fragment}}
            </td>
        </tr>
        <tr>
            <td><strong>Hosts:</strong></td>
            <td class="less-big" ng-bind-html-unsafe="row.Hosts"></td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <div class="accordion" id="accordionImportedPackages">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionImportedPackages"
                               href="#collapseImportedPackages">
                                Imported Packages
                            </a>
                        </div>
                        <div id="collapseImportedPackages" class="accordion-body collapse out">
                            <ul class="accordion-inner">
                                <li ng-repeat="package in row.ImportedPackages">{{package}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <div class="accordion" id="accordionExportedPackages">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionExportedPackages"
                               href="#collapseExportedPackages">
                                Exported Packages
                            </a>
                        </div>
                        <div id="collapseExportedPackages" class="accordion-body collapse out">
                            <ul class="accordion-inner">
                                <li ng-repeat="package in row.ExportedPackages">{{package}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <div class="accordion" id="accordionHeaders">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionHeaders"
                               href="#collapsHeaders">
                                Headers
                            </a>
                        </div>
                        <div id="collapsHeaders" class="accordion-body collapse out">
                            <table class="accordion-inner">
                                <tr ng-repeat="(key, value) in row.Headers">
                                    <td>{{key}}</td>
                                    <td>{{value.Value}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>