<div ng-controller="Osgi.BundlesController">
  
  <div class="row-fluid">
    <div class="pull-left">
      <form class="form-inline no-bottom-margin">
        <fieldset>
          <div class="control-group inline-block">
            <div class="btn-group">
              <button ng-disabled="selected.length == 0" class="btn" ng-click="stop()" title="Stop"><i class="icon-stop"></i></button>
              <button ng-disabled="selected.length == 0" class="btn" ng-click="start()" title="Start"><i class="icon-play"></i></button>
              <button ng-disabled="selected.length == 0" class="btn" ng-click="refresh()" title="Refresh"><i class="icon-refresh"></i></button>
              <button ng-disabled="selected.length == 0" class="btn" ng-click="update()" title="Update"><i class="icon-cloud-download"></i></button>
              <button ng-disabled="selected.length == 0" class="btn" ng-click="uninstall()" title="Uninstall"><i class="icon-eject"></i></button>
            </div>
          </div>
        </fieldset>
      </form>
      
    </div>

    <div class="pull-right">
      <form class="form-inline no-bottom-margin">
        <fieldset>
          <div class="control-group inline-block">
            <input type="text" class="search-query" placeholder="Filter..." ng-model="searchText">
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  
  
  <div class="row-fluid">
    <div ng-hide="loading" class="row-fluid" ng-grid="gridOptions">
    </div>
    <div ng-show="loading">
      Please wait, loading...
    </div>
  </div>
</div>
