<div class="controller-section" ng-controller="Osgi.ConfigurationsController">
  <div class="row-fluid">
    <div class="section-header">
      <div class="section-filter">
        <input type="text" class="search-query" placeholder="Filter..." ng-model="grid.filterOptions.filterText">
        <i class="icon-remove clickable" title="Clear Filter" ng-click="grid.filterOptions.filterText = ''"></i>
      </div>

      <button class="btn pull-right" ng-click="addPidDialog.open()" title="Add Pid">Add Pid</button>
    </div>
  </div>

  <table cellpadding="0" cellspacing="0" border="0"
         class="table table-condensed table-striped table-bordered table-hover"
         hawtio-simple-table="grid">
  </table>

  <div modal="addPidDialog.show" close="addPidDialog.close()" options="addPidDialog.options">
    <form name="addPidDialogForm" class="form-horizontal no-bottom-margin" ng-submit="addPid(newPid)">
      <div class="modal-header"><h4>Add Configuration Admin Pid</h4></div>
      <div class="modal-body">
        <div class="control-group">
          <label class="control-label" for="newPid">New Pid</label>

          <div class="controls">
            <input class="input-xlarge" type="text" id="newPid" ng-model="newPid"/>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <input class="btn btn-success" ng-disabled="!(newPid !== '' && newPid !== undefined)" type="submit" value="Add">
        <input class="btn btn-primary" ng-click="addPidDialog.close()" type="button" value="Cancel">
      </div>
    </form>
  </div>
</div>

