<div class="row-fluid" ng-controller="DockerRegistry.ListController">
  <script type="text/ng-template" id="tagsTemplate.html">
    <ul class="zebra-list">
      <li ng-repeat="(name, imageId) in row.entity.tags" ng-controller="DockerRegistry.TagController">
        <a href="" ng-click="selectImage(imageId)">{{name}}</a>
      </li>
    </ul>
  </script>
  <p></p>
  <div class="row-fluid">
    <div class="span12">
      <span ng-hide="selectedImage">
        <hawtio-filter ng-model="tableConfig.filterOptions.filterText"
                       css-class="input-xxlarge"
                       placeholder="Filter images..."
                       save-as="docker-registry-image-list-text-filter"></hawtio-filter>
      </span>
      <button class="pull-right btn btn-danger"
              ng-disabled="tableConfig.selectedItems.length == 0"
              ng-hide="selectedImage"
              ng-click="deletePrompt(tableConfig.selectedItems)"><i class="icon-remove"></i> Delete</button>
      <span class="pull-right">&nbsp;</span>
      <button class="pull-right btn btn-primary" 
              ng-show="selectedImage"
              ng-click="selectedImage = undefined"><i class="icon-list"></i></button>
    </div>
  </div>
  <p></p>
  <div class="row-fluid" ng-show="!fetched">
    <div class="span12">
      <p class="text-center"><i class="icon-spinner icon-spin"></i></p>
    </div>
  </div>
  <div class="row-fluid" ng-show="fetched && !selectedImage && imageRepositories.length === 0">
    <div class="span12">
      <p class="alert alert-info">No images are stored in this repository</p>
    </div>
  </div>
  <div class="row-fluid" ng-show="fetched && !selectedImage && imageRepositories.length">
    <div class="span12">
      <table class="table table-condensed table-striped"
             hawtio-simple-table="tableConfig"></table>
    </div>
  </div>
  <div class="row-fluid" ng-show="fetched && selectedImage">
    <div class="span12">
      <div hawtio-object="selectedImage"></div>
    </div>
  </div>
</div>

