<div ng-controller="ActiveMQ.BrowseQueueController">
  <div class="row-fluid">
    <div class="span6">
      <input class="search-query span12" type="text" ng-model="gridOptions.filterOptions.filterText"
             placeholder="Filter messages">
    </div>
    <div class="span6">
      <div class="pull-right">
        <form class="form-inline">
          <button class="btn" ng-disabled="!gridOptions.selectedItems.length" ng-click="moveDialog = true"
                  title="Move the selected messages to another destination" data-placement="bottom">
            <i class="icon-move"></i> Move
          </button>
          <button type="submit" class="btn" ng-disabled="!gridOptions.selectedItems.length"
                  ng-click="deleteDialog = true"
                  title="Delete the selected messages">
            <i class="icon-remove"></i> Delete
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div ng-switch="messageDialog.show" class="slide-frame" ng-animate="'wave'">
      <div ng-switch-when="false">
        <div class="gridStyle" ng-grid="gridOptions"></div>
        <!--
            <div class="gridStyle" hawtio-datatable="gridOptions"></div>
        -->
      </div>
      <div ng-switch-when="true">
        <form class="form-horizontal no-bottom-margin" ng-submit="messageDialog.close()">
          <h4>Message {{row.JMSMessageID}}</h4>
          <div class="pull-right">
            <input class="btn" type="submit" ng-click="messageDialog.close()" value="Close">
          </div>
          <div class="modal-body">
            <div class="expandable closed">
              <div title="Headers" class="title">
                <i class="expandable-indicator"></i> Headers
              </div>
              <div class="expandable-body well">
                <table class="table table-condensed table-striped">
                  <thead>
                  <tr>
                    <th>Header</th>
                    <th>Value</th>
                  </tr>
                  </thead>
                  <tbody ng-bind-html-unsafe="row.headerHtml">
                  </tbody>
                  <!--
                                <tr ng-repeat="(key, value) in row.headers">
                                  <td class="property-name">{{key}}</td>
                                  <td class="property-value">{{value}}</td>
                                </tr>
                  -->
                </table>
              </div>
            </div>

            <div ng-controller="Core.EditorController">
              <textarea readonly class="messageDetail" class="input-xlarge" codeMirror="true"
                        rows="{{lineCount(row.Text)}}"
                        ng-model="row.Text"></textarea>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div hawtio-confirm-dialog="deleteDialog"
       ok-button-text="Delete"
       on-ok="deleteMessages()">
    <div class="dialog-body">
      <p>You are about to delete
        <ng-pluralize count="gridOptions.selectedItems.length"
                      when="{'1': 'a message!', 'other': '{} messages!'}">
        </ng-pluralize>
      </p>
      <p>This operation cannot be undone so please be careful.</p>
    </div>
  </div>

  <div hawtio-confirm-dialog="moveDialog"
       ok-button-text="Move"
       on-ok="moveMessages()">
    <div class="dialog-body">
      <p>Move
        <ng-pluralize count="gridOptions.selectedItems.length"
                      when="{'1': 'message', 'other': '{} messages'}"></ng-pluralize>
        to: <input type="text" ng-model="queueName" placeholder="Queue name"
                   typeahead="title for title in queueNames() | filter:$viewValue" typeahead-editable='false'></p>
      <p>
        You cannot undo this operation.<br>
        Though after the move you can always move the <ng-pluralize count="gridOptions.selectedItems.length"
                                                                    when="{'1': 'message', 'other': 'messages'}"></ng-pluralize> back again.
      </p>
    </div>
  </div>

</div>

