<div ng-controller="ActiveMQ.DurableSubscriberController">
    <div class="row-fluid">
      <div class="span12">
        <div class="pull-right">
            <button class="btn" ng-click="createSubscriberDialog.open()"
                    title="Create durable subscriber">
              <i class="icon-plus"></i> Create
            </button>
            <button class="btn" ng-disabled="!gridOptions.selectedItems.length"
                    ng-click="deleteSubscriberDialog.open()"
                    title="Delete the selected subscribers">
              <i class="icon-remove"></i> Delete
            </button>
            <button class="btn" ng-click="refresh()"
                    title="Refreshes the list of subscribers">
              <i class="icon-refresh"></i>
            </button>
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="gridStyle" ng-grid="gridOptions"></div>
    </div>

    <div modal="createSubscriberDialog.show">
      <form name="createSubscriber" class="form-horizontal no-bottom-margin" ng-submit="doCreateSubscriber(clientId, subscriberName, topicName, selector)">
        <div class="modal-header"><h4>Create Durable Subscriber</h4></div>
        <div class="modal-body">
          <label>Client Id: </label>
          <input name="clientId" class="input-xlarge" type="text" ng-model="clientId" required>
          <label>Subscriber Name: </label>
          <input name="subscriberName" class="input-xlarge" type="text" ng-model="subscriberName" required>
          <label>Topic Name: </label>
          <input name="topicName" class="input-xlarge" type="text" ng-model="topicName" required>
          <label>Selector: </label>
          <input name="subSelector" class="input-xlarge" type="text" ng-model="subSelector">
        </div>
        <div class="modal-footer">
          <input class="btn btn-success" type="submit" value="Create">
          <input class="btn btn-primary" ng-click="createSubscriberDialog.close()" value="Cancel">
        </div>
      </form>
    </div>

</div>