/* OpenSans @font-face kit */

/* BEGIN Light */
@font-face {
    font-family: 'OpenSans';
    src: url('OpenSans-Light-webfont.eot');
    src: url('OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('OpenSans-Light-webfont.woff') format('woff'),
    url('OpenSans-Light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* END Light */

/* BEGIN Light Italic */
@font-face {
    font-family: 'OpenSans';
    src: url('OpenSans-LightItalic-webfont.eot');
    src: url('OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('OpenSans-LightItalic-webfont.woff') format('woff'),
    url('OpenSans-LightItalic-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

/* END Light Italic */

/* BEGIN Regular */
@font-face {
    font-family: 'OpenSans';
    src: url('OpenSans-Regular-webfont.eot');
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('OpenSans-Regular-webfont.woff') format('woff'),
    url('OpenSans-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* END Regular */

/* BEGIN Italic */
@font-face {
    font-family: 'OpenSans';
    src: url('OpenSans-Italic-webfont.eot');
    src: url('OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('OpenSans-Italic-webfont.woff') format('woff'),
    url('OpenSans-Italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* END Italic */

/* BEGIN Semibold */
@font-face {
    font-family: 'OpenSans';
    src: url('OpenSans-Semibold-webfont.eot');
    src: url('OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('OpenSans-Semibold-webfont.woff') format('woff'),
    url('OpenSans-Semibold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

/* END Semibold */

/* BEGIN Semibold Italic */
@font-face {
    font-family: 'OpenSans';
    src: url('OpenSans-SemiboldItalic-webfont.eot');
    src: url('OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('OpenSans-SemiboldItalic-webfont.woff') format('woff'),
    url('OpenSans-SemiboldItalic-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

/* END Semibold Italic */

/* BEGIN Bold */
@font-face {
    font-family: 'OpenSans';
    src: url('OpenSans-Bold-webfont.eot');
    src: url('OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('OpenSans-Bold-webfont.woff') format('woff'),
    url('OpenSans-Bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* END Bold */

/* BEGIN Bold Italic */
@font-face {
    font-family: 'OpenSans';
    src: url('OpenSans-BoldItalic-webfont.eot');
    src: url('OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('OpenSans-BoldItalic-webfont.woff') format('woff'),
    url('OpenSans-BoldItalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* END Bold Italic */

/* BEGIN Extrabold */
@font-face {
    font-family: 'OpenSans';
    src: url('OpenSans-ExtraBold-webfont.eot');
    src: url('OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
    url('OpenSans-ExtraBold-webfont.woff') format('woff'),
    url('OpenSans-ExtraBold-webfont.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

/* END Extrabold */

/* BEGIN Extrabold Italic */
@font-face {
    font-family: 'OpenSans';
    src: url('OpenSans-ExtraBoldItalic-webfont.eot');
    src: url('OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
    url('OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

/* END Extrabold Italic */