<div>
    <form class="form-horizontal" ng-submit="moveAndCloseDialog()">
    <div class="modal-header"><h4>Move Document</h4></div>
    <div class="modal-body">
      <div class="control-group">
        <label class="control-label" for="moveFolder">Folder</label>

        <div class="controls">
          <input type="text" id="moveFolder" ng-model="move.moveFolder"
                 typeahead="title for title in folderNames($viewValue) | filter:$viewValue" typeahead-editable='true'>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <input class="btn btn-primary" type="submit"
             ng-disabled="!move.moveFolder"
             value="Move">
      <button class="btn btn-warning cancel" type="button" ng-click="close()">Cancel</button>
    </div>
  </form>
</div>