<div class="row-fluid">
  <div class="span10">
    <div class="row-fluid">
      <div class="span2">
        <div class="app-logo mouse-pointer" ng-click="toggleSelectionFromGroup(cartItems, profile)">
          <img ng-src="{{profile.iconURL}}" ng-show="profile.iconURL">
          <img src="img/icons/fabric8_icon.svg" ng-hide="profile.iconURL">
        </div>
      </div>
      <div class="span10">
        <div class="row-fluid mouse-pointer"
             ng-click="toggleSelectionFromGroup(cartItems, profile)">
          <div class="span12">
            <h4 class="column-box-header">{{profile.id}}
              <i class="icon-ok green"
                 ng-show="!viewOnly && isInGroup(cartItems, profile)"></i>
            </h4>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span11">
            <ul class="unstyled label-list">
              <li class="inline-block mouse-pointer"
                  ng-repeat="tag in profile.tags | orderBy"
                  ng-click="toggleSelectionFromGroup(selectedTags, tag)">
                <span class="badge"
                      ng-class="isInGroup(selectedTags, tag, 'badge-success', '')">{{tag}}</span>
              </li>
            </ul>
          </div>
          <div class="span1">
          </div>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12" 
           ng-show="profile.summary" 
           ng-bind-html-unsafe="profile.summary"></div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <a href="" 
           ng-click="viewProfile(profile)">Details...</a>
      </div>
    </div>
    <div class="row-fluid" ng-show="hasCounts">
      <div class="span12">
        <div ng-show="profile.aliveCount" 
             ng-click="showContainersFor(profile)"
             class="badge badge-success mouse-pointer">Alive: {{profile.aliveCount}}</div>
        <div ng-show="profile.deadCount" 
             ng-click="showContainersFor(profile)"
             class="badge mouse-pointer">Dead: {{profile.deadCount}}</div>
      </div>
    </div>
  </div>
</div>

