<div>
  <div class="active-profile-titles section-header">
    <div class="active-profile-name">Name</div>
    <div class="active-profile-filter">
      <div class="section-filter">
        <input type="text" class="search-query" placeholder="Filter..." ng-model="searchFilter">
        <i class="icon-remove clickable" title="Clear Filter" ng-click="containerIdFilter = ''"></i>
      </div>
    </div>

    <div class="section-controls">
      <a href="" title="Create a new container" ng-click="createContainer()">
        <i class="icon-plus"></i> Create
      </a>
      <a href="" ng-click="editRequirementsDialog.open()" title="Configure the required number of instances of each profile which are then either created by an auto-scaler or created manually">
        <i class="icon-resize-vertical"></i>
        Scale
      </a>
    </div>

    <div class="active-profile-count" title="The actual number of instances of each profile that are currently running">Count</div>

  </div>
  <div class="active-profile-list" ng-repeat="profile in activeProfiles" ng-show="profileMatchesFilter(profile)">
    <div class="expandable" ng-class="isOpen(profile)">
      <div class="active-profile-row">
        <div class="title active-profile-expander">
          <i class="expandable-indicator" ng-show="profile.count"></i>
        </div>
        <div class="title active-profile-name">
          <a href="" ng-click="showProfile(profile)">{{profile.id}}</a> / {{profile.versionId}}
        </div>
        <div class="active-profile-count" title="Current number of instances. Click to create new containers">
          <a href="" ng-click="createRequiredContainers(profile)">
            <span class="badge {{profile.requireStyle}}" >
              {{profile.count}}
            </span>
          </a>
        </div>

        <div class="active-profile-requirements">
          <a ng-click="editRequirementsDialog.open()">
          <span ng-show="profile.requirements.minimumInstances" class="badge">
            {{profile.requirements.minimumInstances}}
          </span>
          </a>
        </div>

      </div>
      <div class="expandable-body">
        <ul>
          <li class="no-list" ng-repeat="container in containersForProfile(profile.id)" ng-show="containerMatchesFilter(container)">

            <div class="box" ng-class="getSelectedClass(container)">

              <div class="box-left">

                <i ng-show="!container.selected && showSelect" class="icon-circle-blank clickable" title="Not Selected" ng-click="container.selected = true"></i>
                <i ng-show="container.selected && showSelect" class="icon-circle clickable" title="Status of the container" ng-click="container.selected = false"></i>

                <i class="clickable" title="{{getStatusTitle(container)}}" ng-class='statusIcon(container)' ng-click="container.selected = !container.selected"></i>

                <div ng-click="container.selected = !container.selected">
                  <a ng-click="showContainer(container)">{{container.id}}</a> / {{container.versionId}}
                </div>

                <i class="icon-cloud clickable" title="Ensemble member" ng-click="showContainer(container)" ng-show="isEnsembleContainer(container.id)"></i>
              </div>

              <div class="box-middle">
                <ul class="inline">
                  <li ng-repeat="service in container.services" ng-switch="service.type">
                    <i ng-switch-when="icon" class="{{service.src}}" title="{{service.title}}"></i>
                    <img ng-switch-when="img" ng-src="{{service.src}}" title="{{service.title}}">
                  </li>
                </ul>
              </div>

              <div class="box-right">

                <i class="icon-plus clickable" ng-show="container.root && container.alive" title="Create a new child container" ng-click="createChildContainer(container)"></i>

                <i class="icon-signin clickable" ng-show="container.jolokiaUrl && container.alive" title="Open a new window and connect to this container" ng-click="doConnect(container)"></i>
              </div>

            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div modal="editRequirementsDialog.show">
    <form name="requirementsForm" class="form-inline no-bottom-margin" ng-submit="updateRequirements(requirements)">
      <div class="modal-header"><h4>Edit Requirements</h4></div>
      <div class="modal-body">
        <table>
          <thead>
            <th>Profile</th>
            <th title="Minimum number of instances which should be running">Minimum</th>
            <th title="Maixmum number of instances">Maximum</th>
          </thead>
          <tbody>
            <tr ng-repeat="requirement in requirements.profileRequirements">
              <td class="property-name">{{requirement.profile}}</td>
              <td>
                <input name="minimumInstances" type="number" ng-model="requirement.minimumInstances" ng-required="false" class="input-small">
              </td>
              <td>
                <input name="maximumInstances" type="number" ng-model="requirement.maximumInstances" ng-required="false" class="input-small">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <input class="btn btn-success" ng-disabled="!requirementsForm.$valid" type="submit" value="Update">
        <input class="btn btn-primary" ng-click="editRequirementsDialog.close()" value="Cancel">
      </div>
    </form>
  </div>

</div>
