<div class="row-fluid" ng-controller="Fabric.FabricApisController">

  <div class="span12 page-padded">
    <div class="section-header">

      <div class="section-filter">
        <input type="text" class="search-query" placeholder="Filter..." ng-model="apiOptions.filterOptions.filterText">
        <i class="icon-remove clickable" title="Clear Filter" ng-click="searchFilter = ''"></i>
      </div>

    </div>
  </div>

  <div class="log-main">
    <div ng-class="isInDashboardClass()">
<!--
      <div class="row-fluid" ng-repeat="api in apis | filter:searchText">
        <a href="{{api.href}}"><i class="icon-puzzle-piece"></i> {{api.path}}</a>
      </div>
-->
      <div class="row-fluid">
        <div class="gridStyle" ng-grid="apiOptions"></div>
      </div>
    </div>
  </div>
</div>


