<div class="row-fluid" ng-controller="Fabric.AppViewController">

  <script type="text/ng-template" id="cartItem.html">
    <div class="ngCellText">
      {{row.entity.id}}
    </div>
  </script>

  <script type="text/ng-template" id="profileBox.html">
    <div ng-class="isInGroup(cartItems, profile, 'column-box-selected', 'column-box-unselected')">
      <div class="row-fluid">
        <table>
          <tr>
            <td rowspan="2">
              <div class="app-logo mouse-pointer" ng-click="viewProfile(profile)">
                <img ng-src="{{profile.iconURL}}" ng-show="profile.iconURL">
              </div>
            </td>
            <td>
              <div class="row-fluid mouse-pointer"
                   ng-click="toggleSelectionFromGroup(cartItems, profile)">
                <div class="span12">
                  <h4>{{profile.id}}</h4>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="span11">
                <ul class="unstyled label-list">
                  <li class="inline-block mouse-pointer"
                      ng-repeat="tag in profile.tags | orderBy"
                      ng-click="toggleSelectionFromGroup(selectedTags, tag)">
                  <span class="badge"
                        ng-class="isInGroup(selectedTags, tag, 'badge-success', '')">{{tag}}</span>
                  </li>
                </ul>
              </div>
              <div class="span1">
                <h3 ng-show="isInGroup(cartItems, profile)">
                  <i class="icon-ok"></i>
                </h3>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="row-fluid">
        <div class="span12" ng-bind-html-unsafe="profile.summary">
        </div>
      </div>
    </div>
  </script>

  <div>
    <div class="row-fluid">
      <div class="span12">
        <div class="row-fluid">
          <p></p>
          <div class="span6 centered">
            <div fabric-version-selector="selectedVersion"></div>
          </div>
          <div class="span6 centered">
            <hawtio-filter ng-model="textFilter"
                           placeholder="Filter Apps..."
                           save-as="fabric-appview-text-filter"></hawtio-filter>
          </div>
        </div>
        <div class="row-fluid centered" ng-show="profiles.length == 0">
          <i class="icon-spinner icon-spin"></i>
        </div>
        <div class="row-fluid" ng-hide="profiles.length == 0">
          <ul hawtio-auto-columns=".column-box">
            <li class="column-box" ng-repeat="profile in profiles | filter:filterProfiles" ng-include="'profileBox.html'">{{profile}}</li>
          </ul>
        </div>
      </div>
    </div>

    <hawtio-pane position="right">
      <div class="row-fluid">
        <div class="span11 offset1">
          <p></p>
          <hawtio-tag-filter tags="tags"
                             selected="selectedTags"
                             collection="profiles"
                             collection-property="tags"
                             save-as="fabric-appview-tag-filter"></hawtio-tag-filter>
        </div>
      </div>
    </hawtio-pane>

    <div class="panel bottom deploy"
         ng-show="cartItems.length">
      <div class="row-fluid">
        <div class="span12">
          <div class="alert alert-success">
            <span>Using the profiles </span>
            <span class="profile-list-item" ng-repeat="profile in cartItems">{{profile.name}}</span>
            <button class="btn btn-primary"
                    ng-click="deploy()">
              <i class="icon-truck"
                 title="Deploy the selected apps to new containers"></i> Create
            </button>
            <button class="btn btn-primary"
                    ng-click="assign()">
              <i class="icon-truck"
                 title="Deploy the selected apps to existing containers"></i> Assign
            </button>
            <span>, or </span>
            <button class="btn"
                    title="Clear selected apps"
                    ng-click="clearGroup(cartItems)"> Clear Selection
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
