<div class="row-fluid" ng-controller="Fabric.ContainerViewController">

  <div class="row-fluid">
    <div class="span12">
      <p></p>
      <div class="pull-left">
        Group by:
        <div class="btn-group">
          <button class="btn"
                  ng-class="groupByClass('profileIds', groupBy)"
                  ng-click="groupBy='profileIds'">Profiles</button>
          <button class="btn"
                  ng-class="groupByClass('location', groupBy)"
                  ng-click="groupBy='location'">Location</button>
        </div>
        <button class="btn"
                ng-class="groupByClass('none', groupBy)"
                ng-click="groupBy='none'">Show List</button>
      </div>
      <div class="pull-right">
        <span class="inline-block"
              ng-show="maybeShowLocation()">
              <div hawtio-drop-down="locationMenu"></div>
        </span>
        <hawtio-filter ng-model="filter"
                       placeholder="Filter Containers..."
                       save-as="fabric-container-view-text-filter"></hawtio-filter>
      </div>
    </div>
  </div>
  <div class="row-fluid"
       ng-show="groupBy=='profileIds'">
    <div class="span12">
      <p></p>
      <div ng-repeat="(versionId, version) in versions">
        <strong class="container-header-version">Version: {{versionId}}</strong>
        <hr>
        <div>
          <div class="column-box" 
               ng-repeat="profile in version.profiles"
               ng-include="'app/fabric/html/profileBox.html'">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid"
       ng-show="groupBy=='location'">
    <div class="span12">
      <div class="column-box-variable location-box"
           ng-repeat="(locationId, location) in locations">
        <strong>{{locationId}}</strong>
        <div>
          <div class="column-box-square mouse-pointer" 
            ng-repeat="container in location.containers | orderBy:['!alive', 'provisionResult', 'id']"
            ng-class="getSelectedClass(container)"
            ng-click="select(containers, container, $event)">
            <i title="{{container.id}} / {{container.versionId}}" ng-class='statusIcon(container)'></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid"
      ng-show="groupBy=='none'">
    <div class="span12">
      <p></p>
      <div ng-include="'app/fabric/html/containerList.html'"></div>
    </div>
  </div>
</div>
