<div class="row-fluid" ng-controller="Fabric.ContainerViewController">

  <script type="text/ng-template" id="containerBox.html">
    <div class="row-fluid">
      <div class="span12">
        <h3>{{container.id}}</h3>
      </div>
    </div>
  </script>

  <div class="row-fluid">
    <div class="span12">
      <div class="pull-left">
        Group by:
        <div class="btn-group">
          <button class="btn"
                  ng-class="groupByClass('profiles', groupBy)"
                  ng-click="groupBy='profiles'">Profiles</button>
          <button class="btn"
                  ng-class="groupByClass('location', groupBy)"
                  ng-click="groupBy='location'">Location</button>
        </div>
      </div>
      <div class="pull-right">
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <ul hawtio-auto-columns=".column-box">
        <li class="column-box"
            ng-repeat="container in containers"
            ng-include="'containerBox.html'"></li>
      </ul>
    </div>
  </div>


</div>
