{{log(row)}}
<div class="span3">
    <dl class="dl-horizontal">
      <dt>Server Type:</dt>
      <dd>{{row.type}}</dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Type:</dt>
      <dd>{{getType()}}</dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Provision Status:</dt>
      <dd>{{row.provisionStatus}}</dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Service URLs:</dt>
      <dd><a href="#" class="ssh btn">SSH</a><a href="#" class="jmx btn">JMX</a><dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Root Container:</dt>
      <dd ng-show="row.root">yes</dd>
      <dd ng-hide="row.root">no</dd>
    </dl>
    <dl class="dl-horizontal" ng-show="row.parentId">
      <dt>Parent:</dt>
      <dd>
        <a href="#/fabric/container/{{row.parentId}}{{hash}}">{{row.parentId}}</a>
      </dd>
    </dl>
    <dl class="dl-horizontal" ng-show="row.childrenIds.length > 0">
      <dt>Children:</dt>
      <dd>
        <ul class="unstyled">
          <li ng-repeat="child in row.childrenIds">
            <a href="#/fabric/container/{{child}}{{hash}}">{{child}}</a>
          </li>
        </ul>
      </dd>
    </dl>
</div>

<div class="span4">
  <dl class="dl-horizontal">
    <dt>Version:</dt>
    <dd>{{row.versionId}}</dd>
  </dl>
  <dl class="dl-horizontal">
    <dt>Profiles:</dt>
    <dd>
      <ul class="unstyled">
        <li ng-repeat="profile in row.profileIds">
          <a href="#/fabric/profile/{{versionId}}/{{profile}}{{hash}}">{{profile}}</a>
        </li>
      </ul>
    </dd>
  </dl>
</div>

<div class="span3">
  <dl class="dl-horizontal">
    <dt>Location:</dt>
    <dd>
      {{row.location}}
    </dd>
  </dl>
  <dl class="dl-horizontal">
    <dt>Local IP:</dt>
    <dd>
      {{row.localIp}}
    </dd>
  </dl>
  <dl class="dl-horizontal">
    <dt>Local Hostname:</dt>
    <dd>
      {{row.localHostName}}
    </dd>
  </dl>
  <dl class="dl-horizontal">
    <dt>Public IP:</dt>
    <dd>
      {{row.publicIp}}
    </dd>
  </dl>
  <dl class="dl-horizontal">
    <dt>Public Hostname:</dt>
    <dd>
      {{row.publicHostname}}
    </dd>
  </dl>
  <dl class="dl-horizontal">
    <dt>Manual IP:</dt>
    <dd>
      {{row.manualIp}}
    </dd>
  </dl>
  <dl class="dl-horizontal">
    <dt>Resolver:</dt>
    <dd>
      {{row.resolver}}
    </dd>
  </dl>
</div>
