<div class="row-fluid" ng-controller="Fabric.ContainerViewController">

  <div class="row-fluid">
    <div class="span12">
      <p></p>
      <div class="pull-left">
        Group by:
        <div class="btn-group">
          <button class="btn"
                  ng-class="groupByClass('profileIds', groupBy)"
                  ng-click="groupBy='profileIds'">Profiles</button>
          <button class="btn"
                  ng-class="groupByClass('location', groupBy)"
                  ng-click="groupBy='location'">Location</button>
        </div>
        <button class="btn"
                ng-class="groupByClass('none', groupBy)"
                ng-click="groupBy='none'">Show List</button>
      </div>
      <div class="pull-right">
        <hawtio-filter ng-model="filter"
                       placeholder="Filter Containers..."
                       save-as="fabric-container-view-text-filter"></hawtio-filter>
      </div>
    </div>
  </div>
  <div class="row-fluid"
       ng-show="groupBy=='profileIds'">
    <div class="span12">
      <p></p>
      <div ng-repeat="(versionId, version) in versions">
        {{versionId}}
        <div ng-repeat="profile in version.profiles">
          <div hawtio-editor="toString(profile)"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid"
       ng-show="groupBy=='location'">
    <div class="span12">
      <p></p>
      <div ng-repeat="(locationId, location) in locations">
        {{locationId}}
        <div ng-repeat="container in location.containers">
        <div hawtio-editor="toString(container)"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid"
      ng-show="groupBy=='none'">
    <div class="span12">
      <p></p>
      <div ng-include="'app/fabric/html/containerList.html'"></div>
    </div>
  </div>
</div>
