
<script type="text/ng-template" id="fabricContainerTemplate">
  <div ng-include src="'app/fabric/html/container-details.html'"></div>
</script>

<div class="row-fluid">
  <div class="pull-left controls">
      <label class="pull-left" for="profile" title="Fabric Version to view the profiles">Profile: &nbsp;
        <select id="profile" ng-model="profileId" ng-options="p for p in profileIds()" aria-controls="grid"></select>
      </label>
  </div>
  <div class="pull-right controls">
    <button ng-show="anySelected" ng-click="start()"><i class="icon-play"></i> Start</button>
    <button ng-show="anySelected" ng-click="stop()"><i class="icon-stop"></i> Stop</button>
    <button ng-show="anySelected" ng-click="delete()"><i class="icon-remove"></i> Delete</button>
    
  </div>
</div>


<table cellpadding="0" cellspacing="0" border="0" class="table table-condensed table-bordered table-hover"
       id="grid">
  <thead>
    <tr>
      <th>
        <input type="checkbox" ng-model="all">
      </th>
      <th></th>
      <th>Status</th>
      <th>Container ID</th>
      <th>Profiles</th>
      <th>Version</th>
      <th>Local Host</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="containerId in containers" ng-controller="Fabric.ContainerRow" ng-init="containerId=containerId" ng-show="show(containerId)">
      <td>
        <input type="checkbox" ng-model="selected">
      </td>
      <td>
      </td>
      <td>
        <i class="icon-2x {{statusIcon()}}"></i>
      </td>
      <td>
        <a href="#/fabric/container/{{row.id}}">{{row.id}}</a>        
      </td>
      <td>
          <ul class="unstyled">
              <li ng-repeat="profile in row.profileIds">
                <a href="#/fabric/profile/{{row.versionId}}/{{profile}}">{{profile}}</a>              
              </li>
          </ul>
      </td>
      <td>{{row.versionId}}</td>
      <td>{{row.ip}}</td>
    </tr>
  
  </tbody>
</table>