<div ng-controller="Fabric.CreateContainerController">

  <div class="row-fluid">
    <div class="pull-left">
      <a class='btn' ng-href="#/fabric/view"><i class='icon-remove'></i> Cancel</a>
    </div>
    <div class="pull-right" ng-switch="activeTab">
      <button class='btn pull-right' hawtio-submit='create_container'
              ng-disabled="!forms.create_container.$valid">
        <i class="icon-ok"></i> Create Container</button>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span6">
      Method of container creation:
      <select ng-model="selectedProvider" ng-options="key for (key, value) in providers"></select>
      <div id="create-form">
        <div simple-form name="create_container" data="schema" entity="entity"></div>
      </div>
    </div>

    <div class="span6">
      <p>2. Select the target version and add the required profiles to deploy</p>
      <div fabric-version-selector='selectedVersion'></div>
      <div fabric-profile-selector='selectedProfiles' version-id='selectedVersion.id'></div>
    </div>

  </div>


  <div modal="showAddProfileDialog">
    <form name="addProfile" class="form-horizontal no-bottom-margin" ng-submit="addProfile()">
      <div class="modal-header"><h4>Add profiles to container: {{row.id}}</h4></div>
      <div class="modal-body">
        <div class="control-group">

          <label>Select one or more profiles to add to this container: </label>

          <div class="controls">

          </div>
        </div>
        <div class="modal-footer">
          <input class="btn btn-success" type="submit" value="Add">
          <input class="btn btn-primary" ng-click="showAddProfileDialog = false" value="Cancel">
        </div>
      </div>
    </form>
  </div>

</div>
