<div ng-controller="Fabric.FabricViewController">
  <div class="row-fluid">

    <div class="span1">
      <ul>
        <li>
          <a href="" ng-click="setActiveVersionId('')">Show All</a>
        </li>
        <li ng-repeat="version in versions">
          <div class="version#{{version.id}}" data-drag="true" jqyoui-draggable="{animate:true, placeholder: keep, index: $index}" data-jqyoui-options="{revert: 'invalid'}">

            <a href="" ng-click="setActiveVersionId(version.id)">
              {{version.id}} {{containersForVersion(version.id)}}
            </a>

          </div>
        </li>
      </ul>
    </div>

    <div class="span3" ng-show="profiles.length > 0">
      <ul>
        <li>
          <a href="" ng-click="setActiveProfileId('')">Show All</a>
        </li>
        <li ng-repeat="profile in profiles">
          <div class="profile#{{profile}}" data-drag="true" jqyoui-draggable="{animate:true, placeholder: keep, index: $index}" data-jqyoui-options="{revert: 'invalid'}">

            <a href="" ng-click="setActiveProfileId(profile)">
              {{profile}} {{containersForProfile(profile)}}
            </a>

          </div>
        </li>
      </ul>

    </div>

    <div class="span2">
      <ul>
        <li>
          <a href="" ng-click="setActiveContainer(null)">Show All</a>
        </li>
        <li ng-repeat="container in containers" ng-show="filterContainer(container)">
          <div class="container#{{container.id}}" data-drop="true" jqyoui-droppable="{multiple: false, stack: true, onDrop: 'handleDrop', index: $index}" ng-model="dropContainer">

            <input type="checkbox" ng-model="container.selected">

            <a href="" ng-click="setActiveContainer(container)">
              {{container.id}}
            </a>

          </div>
        </li>
      </ul>

    </div>

    <div class="span2">
      <ul>
        <li>
          <a href="" ng-click="setActiveProfile(null)">Show All</a>
        </li>
        <li ng-repeat="profile in activeProfiles" ng-show="filterActiveProfile(profile)">

          <a href="" ng-click="removeActiveProfiles(profile)" ng-show="(activeContainerId && activeContainerId != '') || selectedContainers.length > 0">
            <i class="icon-remove"></i>
          </a>

          <a href="" ng-click="setActiveProfile(profile)">
            {{profile.versionId}} / {{profile.id}} ({{profile.count}})
          </a>

        </li>
      </ul>
    </div>



  </div>
</div>
