<div class="span2">
  <ul class="unstyled">
    <li>
      <strong>Abstract:</strong> {{row.abstractProfile}}
    </li>
    <li>
      <strong>Locked:</strong> {{row.locked}}
    </li>
  </ul>
  <dl ng-show="row.parentIds.length > 0">
    <dt>Parents:</dt>
    <dd>
      <ul class="unstyled">
        <li ng-repeat="profile in row.parentIds">
          <a href="#/fabric/profile/{{versionId}}/{{profile}}{{hash}}">{{profile}}</a>
        </li>
      </ul>
    </dd>
  </dl>
  <dl ng-show="row.childIds.length > 0">
    <dt>Children:</dt>
    <dd>
      <ul class="unstyled">
        <li ng-repeat="profile in row.childIds">
          <a href="#/fabric/profile/{{versionId}}/{{profile}}{{hash}}">{{profile}}</a>
        </li>
      </ul>
    </dd>
  </dl>
</div>
<div class="span4">
  <dl>
    <dt>Features ({{row.features.length}}):</dt>
    <dd>
      <ul class="unstyled">
        <li ng-repeat="feature in row.features">
          {{feature}}
        </li>
      </ul>
    </dd>
  </dl>
  <dl>
    <dt>Fuse Application Bundles ({{row.fabs.length}}):</dt>
    <dd>
      <ul class="unstyled">
        <li ng-repeat="fab in row.fabs">
          {{fab}}
        </li>
      </ul>
    </dd>
  </dl>
  <dl>
    <dt>Bundles ({{row.bundles.length}}):</dt>
    <dd>
      <ul class="unstyled">
        <li ng-repeat="bundle in row.bundles">
          {{bundle}}
        </li>
      </ul>
    </dd>
  </dl>
</div>
<div class="span4">
  <dl>
    <dt>Feature Repositories ({{row.repositories.length}}):</dt>
    <dd>
      <ul class="unstyled">
        <li ng-repeat="repository in row.repositories">
          {{repository}}
        </li>
      </ul>
    </dd>
  </dl>
  <dl>
    <dt>Configuration Files ({{row.configurations.length}}):</dt>
    <dd>
      <ul class="unstyled">
        <li ng-repeat="configuration in row.configurations">
          {{configuration}}
        </li>
      </ul>
    </dd>
  </dl>
</div>

