<div class="row-fluid" ng-controller="Fabric.AppViewController">

  <script type="text/ng-template" id="profileBox.html">
    <div class="row-fluid">
      <div class="span10">
        <div class="row-fluid">
          <div class="span2">
            <div class="app-logo mouse-pointer" ng-click="viewProfile(profile)">
              <img ng-src="{{profile.iconURL}}" ng-show="profile.iconURL">
              <img src="img/icons/fabric8_icon.svg" ng-hide="profile.iconURL">
            </div>
          </div>
          <div class="span10">
            <div class="row-fluid mouse-pointer"
                 ng-click="toggleSelectionFromGroup(cartItems, profile)">
              <div class="span12">
                <h4>{{profile.id}}</h4>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span11">
                <ul class="unstyled label-list">
                  <li class="inline-block mouse-pointer"
                      ng-repeat="tag in profile.tags | orderBy"
                      ng-click="toggleSelectionFromGroup(selectedTags, tag)">
                    <span class="badge"
                          ng-class="isInGroup(selectedTags, tag, 'badge-success', '')">{{tag}}</span>
                  </li>
                </ul>
              </div>
              <div class="span1">
              </div>
            </div>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span12" 
               ng-show="profile.summary" 
               ng-bind-html-unsafe="profile.summary"></div>
        </div>
        <div class="row-fluid">
          <div class="span12">
            <a href="" 
               ng-click="viewProfile(profile)">Details...</a>
          </div>
        </div>
      </div>
      <div class="span2 ok-container mouse-pointer"
           ng-click="toggleSelectionFromGroup(cartItems, profile)">
        <i class="icon-check-empty"
           ng-hide="isInGroup(cartItems, profile)"></i>
        <i class="icon-check"
            ng-show="isInGroup(cartItems, profile)"></i>
      </div>
    </div>
  </script>

  <div>
    <div class="row-fluid">
      <div class="span12">
        <div class="row-fluid">
          <p></p>
          <div class="span12 centered">
            <div fabric-version-selector="selectedVersion"></div>
          </div>
        </div>
        <div class="row-fluid centered" ng-show="profiles.length == 0">
          <i class="icon-spinner icon-spin"></i>
        </div>
        <div class="row-fluid" ng-hide="profiles.length == 0">
          <ul hawtio-auto-columns=".column-box">
            <li class="column-box" 
                ng-repeat="profile in profiles" 
                ng-class="isInGroup(cartItems, profile, 'column-box-selected', 'column-box-unselected')" 
                ng-show="filterProfiles(profile)" 
                ng-include="'profileBox.html'">{{profile}}</li>
          </ul>
        </div>
      </div>
    </div>

    <script type="text/ng-template" id="headerTemplate.html">
      <div class="tree-header fabric-app-view-header" ng-controller="Fabric.AppViewPaneHeaderController">
        <div class="row-fluid">
          <div class="span12 centered">
            <p></p>
            <hawtio-filter ng-model="filter"
                           placeholder="Filter Profiles..."
                           save-as="fabric-appview-text-filter"></hawtio-filter>
          </div>
        </div>
        <div class="row-fluid">
          <p></p>
          <div class="pull-left">
            <div class="alert alert-info">
              Selected: {{cartItems.length}} 
            </div>
          </div>
          <div class="pull-right">
            <button class="btn btn-success"
                    ng-disabled="!cartItems.length"
                    ng-click="deploy()">
              <i class="icon-ok"
                 title="Deploy the selected Profiles ({{getNames()}}) to new containers"></i>
            </button>
            <button class="btn btn-primary"
                    ng-disabled="!cartItems.length"
                    ng-click="assign()">
              <i class="icon-truck"
                 title="Deploy the selected Profiles ({{getNames()}}) to existing containers"></i>
            </button>
            <button class="btn"
                    ng-disabled="!cartItems.length"
                    title="Clear selected Profiles"
                    ng-click="clearGroup(cartItems)">
              <i class="icon-remove"
                 title="Deploy the selected Profiles ({{getNames()}}) to existing containers"></i>
            </button>
          </div>
        </div>
      </div>
    </script>


    <hawtio-pane position="right" header="headerTemplate.html">
      <div class="row-fluid">
        <div class="span12">
          <p></p>
          <hawtio-tag-filter tags="tags"
                             selected="selectedTags"
                             collection="profiles"
                             collection-property="tags"
                             save-as="fabric-appview-tag-filter"></hawtio-tag-filter>
        </div>
      </div>
    </hawtio-pane>

  </div>
</div>
