<div ng-controller="Fabric.ProfilesController">
  <div class="row-fluid">
    <div class="pull-left">
      <form class="form-inline no-bottom-margin">
        <fieldset>
          <div class="btn-group inline-block">
            <a href="" title="Create new Profile" class="btn"><i class="icon-plus"></i></a>
            <a href="" title="Delete selected Profiles" class="btn" ng-disabled="selected.length == 0 || selectedHasContainers()" ng-click="deleteProfileDialog.open()"><i class="icon-minus"></i></a>
          </div>

          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;

          <div class="control-group inline-block">
            <label for="versions">Versions: </label>
            <select id="versions" ng-model="version" ng-options="v.id for v in versions"></select>
          </div>
          <div class="btn-group inline-block">
            <a href="" title="Create new Version" class="btn"><i class="icon-plus"></i></a>
            <a href="" title="Delete this Version" class="btn" ng-disabled="versionCanBeDeleted()" ng-click="deleteVersionDialog.open()"><i class="icon-minus"></i></a>
          </div>
          &nbsp;
        </fieldset>
      </form>
    </div>
    <div class="pull-right">
      <form class="form-inline no-bottom-margin">
        <fieldset>
          <div class="control-group inline-block">
            <label for="activeOnly" title="Only show profiles that have been applied to a container">Active only: </label>
            <input type="checkbox" id="activeOnly" name="activeOnly" ng-model="activeOnly">
          </div>
          <div class="control-group inline-block">
            <input class="search-query" type="text" ng-model="gridOptions.filterOptions.filterText" placeholder="Filter...">
          </div>
        </fieldset>
      </form>
    </div>
  </div>

  <div modal="deleteVersionDialog.show" close="deleteVersionDialog.close()" options="deleteVersionDialog.options">
    <form class="form-horizontal no-bottom-margin" ng-submit="deleteVersionDialog.close()">
      <div class="modal-header"><h4>Delete version?</h4></div>
      <div class="modal-body">
        Are you sure you want to delete version {{version.id}}?
      </div>
      <div class="modal-footer">
        <input class="btn btn-danger" type="submit" ng-click="deleteVersion()" value="Delete">
        <input class="btn btn-primary" ng-click="deleteVersionDialog.close()" value="Cancel">
      </div>
    </form>
  </div>

  <div modal="deleteProfileDialog.show" close="deleteProfileDialog.close()" options="deleteProfileDialog.options">
    <form class="form-horizontal no-bottom-margin" ng-submit="deleteProfileDialog.close()">
      <div class="modal-header"><h4>Delete profiles?</h4></div>
      <div class="modal-body">
        Are you sure you want to delete the selected profiles:
        <ol>
          <li ng-repeat="profile in selected">{{profile.id}}</li>
        </ol>
      </div>
      <div class="modal-footer">
        <input class="btn btn-danger" type="submit" ng-click="deleteSelected()" value="Delete">
        <input class="btn btn-primary" ng-click="deleteProfileDialog.close()" value="Cancel">
      </div>
    </form>
  </div>

  <div ng-hide="profiles.length > 0" class="row-fluid">
    Please wait, loading profile data...
  </div>
  <div ng-show="profiles.length > 0" class="row-fluid">
    <div class="gridStyle" ng-grid="gridOptions"></div>
  </div>
</div>
