<div class="ng-cloak">
  <div class="profile-list">
    <table class="table table-striped">
      <thead ng-show="showFilter">
        <tr>
          <th><input id="selector" type="checkbox" ng-model="selectedAll"></th>
          <th>
            <!--
            <div class="control-group pull-left no-bottom-margin">
              <label class="control-label no-bottom-margin"><strong>Name</strong></label>
            </div>
            -->
            <div class="control-group pull-right">
              <div class="controls">
                <input type="text" class="search-query" ng-model="filterText" placeholder="Filter...">
              </div>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="profile in profiles" ng-show="showProfile(profile)">
          <td>
            <input ng-hide="useCircles" type="checkbox" ng-model="profile.selected">
            <div ng-show="useCircles">
              <i ng-show="!profile.selected" class="icon-circle-blank clickable" title="Not Selected" ng-click="profile.selected = true"></i>
              <i ng-show="profile.selected" class="icon-circle clickable" title="Selected" ng-click="profile.selected = false"></i>
            </div>

          </td>
          <td ng-class="getSelectedClass(profile)">
            <span>{{profile.id}}</span>
            <a href="" ng-show="showLinks" ng-click="goto(profile)"><i class="icon-info-sign clickable pull-right" title="Details for {{profile.id}}"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
