<div ng-controller="Fabric.TestController">

  <div class="row-fluid">
    <div class="span3">
      <p>Model: {{someUri}}</p>
      <p>uriParts</p>
      <ol>
        <li ng-repeat="part in uriParts">{{part}}</li>
      </ol>
      <input class="input-xlarge" type="text" ng-model="someUri" typeahead="name for name in doCompletion($viewValue) | filter:$viewValue" typeahead-min-length="3" typeahead-on-select="onSelectCallback($item, $model, $label)">
    </div>
  </div>

  <div class="row-fluid">
    <div class="span3">
      <div fabric-profile-selector='osp' version-id='vid' included-profiles="someProfiles"></div>
    </div>
    <div class="span3">
      <div fabric-profile-selector='osp' version-id='vid' excluded-profiles="someProfiles"></div>
    </div>
  </div>

  <hr>

  <!--
  <div class="row-fluid">
    <div class="span3">
      <div fabric-version-selector='version'></div>
      <div fabric-profile-selector='selectedProfiles' version-id='versionId'></div>
    </div>
    <div class="span3">
      <p>Selected version: {{version.id}}</p>
      <p>Selected profiles:
        <ul>
          <li ng-repeat="profile in selectedProfiles">{{profile.id}}</li>
        </ul>
      </p>
    </div>
  </div>
  -->


</div>
