<div ng-controller="Threads.ThreadsController">

  <div class="threads logbar">
    <div class="logbar-container">

      <div class="state-panel inline-block">
        <ul class="inline">
          <li>
            <strong ng-class="total">Total:</strong> {{threads.length}}
          </li>
          <li ng-repeat="(state, total) in totals">
            <strong class="{{state.dasherize()}}">{{state}}:</strong> {{total}}
          </li>
        </ul>
      </div>

      <div class="inline-block support-panel pull-right">
        <ul class="inline">
          <li ng-repeat="(name, value) in support track by $index">
            <span class="monitor-indicator {{getMonitorClass(name, value)}}" ng-click="maybeToggleMonitor(name, value)">{{getMonitorName(name)}}</span>
          </li>
        </ul>
      </div>

    </div>
  </div>


  <div class="wiki-fixed">

    <table class="table table-condensed table-striped"
           hawtio-simple-table="threadGridOptions"></table>

    <div ng-show="threadSelected" class="log-info-panel">
      <div class="log-info-panel-frame">
        <div class="log-info-panel-header">
          <button class="btn" ng-click="deselect()"><i class="icon-remove"></i> Close</button>

        </div>
        <div class="log-info-panel-body">
          <div hawtio-editor="selectedRowJson" mode="javascript"></div>

        </div>
      </div>
    </div>

  </div>
</div>



