<div ng-controller="UI.UITestController">

  <div>
    <div class="row-fluid">
      <h3>File upload</h3>
      <p>Use to upload files to the hawtio webapp backend.  Files are stored in a temporary directory and managed via the UploadManager JMX MBean</p>
      <hr>
      <p>Showing files:</p>
      <div hawtio-editor="fileUploadEx1" mode="fileUploadExMode"></div>
      <div class="directive-example">
        <div compile="fileUploadEx1"></div>
      </div>
      <hr>
      <p>Not showing files:</p>
      <div hawtio-editor="fileUploadEx2" mode="fileUploadExMode"></div>
      <div class="directive-example">
        <div compile="fileUploadEx2"></div>
      </div>
    </div>
    <hr>
  </div>

  <div class="row-fluid">
    <h3>Color picker</h3>
    <p>Currently used on the preference page to associate a color with a given URL regex</p>
    <div hawtio-editor="colorPickerEx" mode="fileUploadExMode"></div>
    <div class="directive-example">
      <div compile="colorPickerEx"></div>
    </div>
    <hr>
  </div>

  <div class="row-fluid">
    <h3>Confirmation Dialog</h3>
    <p>Displays a simple confirmation dialog with a standard title and buttons, just the dialog body needs to be provided.  The buttons can be customized as well as the actions when the ok or cancel button is clicked</p>

    <div hawtio-editor="confirmationEx1" mode="fileUploadExMode"></div>
    <div class="directive-example">
      <div compile="confirmationEx1"></div>
    </div>

    <div hawtio-editor="confirmationEx2" mode="fileUploadExMode"></div>
    <div class="directive-example">
      <div compile="confirmationEx2"></div>
    </div>
    <hr>
  </div>

  <div class="row-fluid">
    <h3>Slideout</h3>
    <p>Displays a panel that slides out from either the left or right and immediately disappears when closed</p>

    <button class="btn" ng-click="showSlideoutLeft = !showSlideoutLeft">Show Slideout Left</button>
    <div hawtio-slideout="showSlideoutRight" title="foobar mcgee">
      <div class="dialog-body">
        <div>
          Here is some content or whatever {{transcludedValue}}
        </div>
      </div>
    </div>

    <button class="btn" ng-click="showSlideoutRight = !showSlideoutRight">Show Slideout Right</button>
    <div hawtio-slideout="showSlideoutLeft" direction="left" title="I like pastry">
      <div class="dialog-body">
        <div hawtio-editor="someText" mode="javascript"></div>
      </div>
    </div>
    <hr>
  </div>


  <div class="row-fluid">
    <h3>Pager</h3>
    <hr>
  </div>

  <div class="row-fluid">
    <h3>CodeMirror</h3>

    Instance 1
    <div class="row-fluid">
      <div hawtio-editor="someText" mode="mode" dirty="dirty"></div>
      <div>Text : {{someText}}</div>
    </div>

    Instance 2 (readonly)
    <div class="row-fluid">
      <div hawtio-editor="someText" read-only="true" mode="mode" dirty="dirty"></div>
      <div>Text : {{someText}}</div>
    </div>
  </div>

</div>
