<div ng-controller="Kubernetes.OverviewController">
  <link rel="stylesheet" href="app/kubernetes/html/overview.css">
  <script type="text/ng-template" id="serviceTemplate.html">
    <div id="{{service.id}}"
         connect-to="{{service.connectTo}}"
         data-type="service"
         class="jsplumb-node kubernetes-node ex-node"
         ng-controller="Kubernetes.OverviewBoxController"
         ng-init="entity=getEntity('service', '{{service.id}}')"
         ng-click="viewDetails('services')">
    {{service.id}}
  </div>
  </script>
  <script type="text/ng-template" id="podTemplate.html">
    <div id="{{pod.id}}"
         data-type="pod"
         title="Pod ID: {{pod.id}}"
         class="jsplumb-node kubernetes-node kubernetes-pod-node" 
         ng-controller="Kubernetes.OverviewBoxController"
         ng-init="entity=getEntity('pod', '{{pod.id}}')"
         ng-click="viewDetails('pods')">
    <div ng-init="row={ entity: entity }" ng-include="'statusTemplate.html'"></div>
  </div>
  </script>
  <script type="text/ng-template" id="replicationControllerTemplate.html">
    <div
        id="{{replicationController.id}}"
        data-type="replicationController"
        connect-to="{{replicationController.connectTo}}"
        class="jsplumb-node ex-node kubernetes-node"
        ng-controller="Kubernetes.OverviewBoxController"
        ng-init="entity=getEntity('replicationController', '{{replicationController.id}}')"
        ng-click="viewDetails('replicationControllers')">
    {{replicationController.id}}
  </div>
  </script>
  <script type="text/ng-template" id="overviewTemplate.html">
    <div class="ex-node-container gridStyle"
         hawtio-jsplumb
         draggable="false"
         node-sep="100"
         rank-sep="250"
   </div>
  </script>
  <kubernetes-overview></kubernetes-overview>
</div>
