
.kubernetes-node {
  cursor: pointer;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #d4d4d4;
  background: white;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  transition: background 0.5s;
  z-index: 1000;
}

.kubernetes-pod-node {
  width: 48px;
  height: 48px;
  padding: 0;
  line-height: 43px;
}

.kubernetes-pod-node i {
  font-size: 24px;
}

.kubernetes-service-node {
  width: 128px;
  height: 48px;
  padding: 0;
  line-height: 48px;
  font-size: 20px;
}

.kubernetes-replicationController-node {
  width: 256px;
  height: 48px;
  padding: 0;
  line-height: 48px;
  font-weight: bold;

}

.kubernetes-node:hover {
  background: #ddddff;
}
