<div class="row-fluid" ng-controller="Kubernetes.Pods">
  <script type="text/ng-template" id="cellTemplate.html">
    <div class="ngCellText" ng-init="entity=row.entity" ng-controller="Kubernetes.PodLabels">
      <span ng-repeat="(labelType, labelValue) in labels"
            class="pod-label badge"
            ng-class="labelClass(labelType)">{{labelValue}}</span>
    </div>
  </script>
  <script type="text/ng-template" id="statusTemplate.html">
    <div class="ngCellText" ng-controller="Kubernetes.PodStatus" title="{{row.entity.currentState.status}}">
      <i ng-class="statusMapping[row.entity.currentState.status] || 'icon-question red'"></i>
    </div>
  </script>
  <script type="text/ng-template" id="imageTemplate.html">
    <div class="ngCellText">
      <span ng-repeat="container in row.entity.desiredState.manifest.containers">
        <a target="dockerRegistry" href="https://registry.hub.docker.com/u/{{container.image}}" title="{{container.name}}">{{container.image}}</a>
      </span>
    </div>
  </script>
  <div class="row-fluid">
    <div class="span12">
      <button class="btn btn-danger pull-right"
              ng-disabled="podsConfig.selectedItems.length == 0"
              ng-click="deletePrompt(podsConfig.selectedItems)"><i class="icon-remove"></i> Delete</button>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <div ng-hide="fetched">
        <div class="align">
          <i class="icon-spinner icon-spin"></i>
        </div>
      </div>
      <div ng-show="fetched">
        <div ng-hide="pods.length" class="align-center">
          <p class="alert alert-info">There are no pods currently running.</p>
        </div>
        <div ng-show="pods.length">
          <table class="table table-condensed table-striped"
                 hawtio-simple-table="podsConfig"></table>
        </div>
      </div>
    </div>
  </div>
</div>
