<div ng-controller="Kubernetes.Services">
  <div class="row-fluid">
    <div class="span12" ng-show="services.length">
      <span ng-show="!id">
        <hawtio-filter ng-model="tableConfig.filterOptions.filterText"
                       css-class="input-xxlarge"
                       placeholder="Filter services..."
                       save-as="kubernetes-services-text-filter"></hawtio-filter>
      </span>
      <button ng-show="fetched"
              class="btn btn-danger pull-right"
              ng-disabled="!id && tableConfig.selectedItems.length == 0"
              ng-click="deletePrompt(id || tableConfig.selectedItems)">
        <i class="icon-remove"></i> Delete
      </button>
      <span class="pull-right">&nbsp;</span>
      <button ng-show="id"
              class="btn btn-primary pull-right"
              ng-click="id = undefined"><i class="icon-list"></i></button>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <div ng-hide="fetched">
        <div class="align-center">
          <i class="icon-spinner icon-spin"></i>
        </div>
      </div>
      <div ng-show="fetched && !id">
        <div ng-hide="services.length" class="align-center">
          <p class="alert alert-info">There are no services currently available.</p>
        </div>
        <div ng-show="services.length">
          <table class="table table-condensed table-striped" ui-if="kubernetes.selectedNamespace"
                 hawtio-simple-table="tableConfig"></table>
        </div>
      </div>
      <div ng-show="fetched && id">
        <p></p>
        <div hawtio-object="item"></div>
      </div>
    </div>
  </div>
</div>
