<div>
  <form name="createVersion" class="form-horizontal no-bottom-margin">
    <div class="modal-header"><h4>Create new Version</h4></div>
    <div class="modal-body">
      <label>Version name: </label>
      <!-- Synch with Fabric8 io.fabric8.utils.FabricValidations -->
      <input name="id" class="input-xlarge" type="text" ng-model="name"
             ng-pattern="/^[a-z0-9]+[\.a-z0-9_-]*$/">
        <span class="help-block"
              ng-hide="createVersion.id.$invalid">Leave blank to use the next available version number.</span>
        <span class="help-block"
              ng-show="createVersion.id.$error.pattern">Version must contain numbers separated by dots.</span>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success" ng-click="close(true)" ng-disabled="!createVersion.$valid" >Create</button>
      <button class="btn btn-primary" ng-click="close(false)">Cancel</button>
    </div>
  </form>
</div>
