<div ng-controller="ActiveMQ.QueuesController">

    <div class="row-fluid">
        <div class="span24">
            <div class="section-filter">
                <input class="search-query span12" type="text" ng-model="gridOptions.filterOptions.filterText"
                       placeholder="{{destinationFilterPlaceholder}}">
                <i class="icon-remove clickable"
                   title="Clear filter"
                   ng-click="gridOptions.filterOptions.filterText = ''"></i>
            </div>
            <div class="control-group inline-block">
                <form class="form-inline no-bottom-margin">
                    <label>&nbsp;&nbsp;&nbsp;Filter: </label>
                    <select ng-model="destinationFilter.filter" id="destinationFilter">
                        <option value="" selected="selected">None...</option>
                        <option ng-repeat="option in destinationFilterOptions" value="{{option.id}}">{{option.name}}
                        </option>
                    </select>
                    <button class="btn" ng-click="refresh()"
                            title="Filter">
                        <i class="icon-refresh"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>


    <div class="row-fluid">
        <div class="gridStyle" ng-grid="gridOptions" ui-grid-resize-columns></div>
    </div>

</div>