<div class="row-fluid">
  <div class="span6" ng-controller="Camel.AttributesToolBarController">
    <div class="control-group">
      <button class="btn" ng-disabled="!anySelectionHasState(['stop', 'suspend'])" ng-click="start()"
              hawtio-show object-name="{{camelContextMBean}}" method-name="start"
              ><i class="icon-play-circle"></i> Start
      </button>
      <button class="btn" ng-disabled="!anySelectionHasState('start')" ng-click="pause()"
              hawtio-show object-name="{{camelContextMBean}}" method-name="suspend"
              ><i class="icon-pause"></i> Pause
      </button>
      <button class="btn" ng-disabled="!anySelectionHasState(['start', 'suspend'])" ng-click="deleteDialog = true"
              hawtio-show object-name="{{camelContextMBean}}" method-name="stop"
              ><i class="icon-remove"></i> Destroy
      </button>
    </div>

    <div hawtio-confirm-dialog="deleteDialog"
         ok-button-text="Delete"
         on-ok="stop()">
      <div class="dialog-body">
        <p>You are about to delete this Camel Context.</p>
        <p>This operation cannot be undone so please be careful.</p>
      </div>
    </div>

  </div>
  <div class="span6">
   <div class="section-filter pull-right">
    <div class="control-group">
      <input class="span12 search-query" type="text" ng-model="$parent.gridOptions.filterOptions.filterText" placeholder="Filter...">
         <i class="icon-remove clickable"
           title="Clear filter"
           ng-click="$parent.gridOptions.filterOptions.filterText = ''"></i>
      </div>
    </div>
  </div>
</div>
