<div class="row-fluid">
  <div class="span6" ng-controller="Camel.AttributesToolBarController">
    <div class="control-group">
      <button class="btn" ng-disabled="!anySelectionHasState(['stop', 'suspend'])" ng-click="start()"><i
              class="icon-play-circle"></i> Start
      </button>
      <button class="btn" ng-disabled="!anySelectionHasState('start')" ng-click="pause()"><i class="icon-pause"></i>
        Pause
      </button>
      <button class="btn" ng-disabled="!anySelectionHasState(['start', 'suspend'])" ng-click="deleteDialog.open()"><i
              class="icon-remove"></i> Destroy
      </button>
    </div>

    <div modal="deleteDialog.show" close="deleteDialog.close()" options="deleteDialog.options">
      <form class="form-horizontal no-bottom-margin" ng-submit="deleteDialog.close()">
        <div class="modal-header"><h4>Are you sure?</h4></div>
        <div class="modal-body">
          <p>You are about to delete this Camel Context.</p>
          <p>This operation cannot be undone so please be careful.</p>
        </div>
        <div class="modal-footer">
          <input class="btn btn-danger" type="submit" ng-click="stop()" value="Delete">
          <input class="btn btn-primary" ng-click="deleteDialog.close()" value="Cancel">
        </div>
      </form>
    </div>
  </div>
  <div class="span6">
    <div class="control-group">
      <input class="span12 search-query" type="text" ng-model="$parent.gridOptions.filterOptions.filterText" placeholder="search">
    </div>
  </div>
</div>
