<div class="row-fluid">
  <div class="span6">
    <div class="control-group"  ng-controller="Camel.AttributesToolBarController">
      <button class="btn" ng-disabled="!anySelectionHasState(['stop', 'suspend'])" ng-click="start()"><i class="icon-play"></i> Start</button>
      <button class="btn" ng-disabled="!anySelectionHasState('start')" ng-click="pause()"><i class="icon-pause"></i> Pause</button>
      <button class="btn" ng-disabled="!anySelectionHasState(['start', 'suspend'])" ng-click="stop()"><i class="icon-stop"></i> Stop</button>
    </div>
  </div>
  <div class="span6">
    <div class="control-group">
      <input class="span12 search-query" ng-model="$parent.searchText" placeholder="search">
    </div>
  </div>
</div>
