<div class="row-fluid" ng-controller="Camel.InflightController">

  <div ng-show="initDone">

    <div class="row-fluid">
      <div class="span12">
        <hawtio-filter ng-model="gridOptions.filterOptions.filterText"
                       placeholder="Filter..."></hawtio-filter>
      </div>
    </div>

      <!--<div class="pull-right">-->
        <!--<form class="form-inline no-bottom-margin">-->
          <!--<fieldset>-->
            <!--<div class="control-group inline-block">-->
              <!--<input type="text" class="search-query" placeholder="Filter..."-->
                     <!--ng-model="gridOptions.filterOptions.filterText">-->
            <!--</div>-->
          <!--</fieldset>-->
        <!--</form>-->
      <!--</div>-->
    <!--</div>-->

    <div class="row-fluid">
      <table class="table table-condensed table-striped" hawtio-simple-table="gridOptions"></table>
    </div>

  </div>

  <div ng-hide="initDone">
    <i class="icon-spinner icon-spin centered"></i>
  </div>

</div>

