<hawtio-pane position="left" width="300">
  <div id="tree-container"
       ng-controller="Jmx.MBeansController">

    <div class="camel-tree" ng-controller="Camel.TreeController">
      <div class="section-filter">
        <input id="camelContextIdFilter" class="search-query span12" type="text" ng-model="contextFilterText"
               title="filter camel context IDs"
               placeholder="Filter...">
        <i class="icon-remove clickable"
           title="Clear filter"
           ng-click="contextFilterText = ''"></i>
      </div>
      <div id="cameltree"></div>
    </div>

  </div>
</hawtio-pane>
<div class="row-fluid">
  <ng-include src="'app/jmx/html/subLevelTabs.html'"></ng-include>
  <div id="properties" ng-view></div>
</div>
