<form class="form-horizontal" ng-controller="Camel.SendMessageController">
  <div class="row-fluid">
    <div class="control-group">
      <button id="sendButton" type="submit" class="btn btn-primary pull-left" ng-click="sendMessage()">Send Message
      </button>

      <button id="addHeaderButton" class="btn pull-right" ng-click="addHeader()" title="Add a new message header"><i class="icon-plus"></i>
      </button>
    </div>
    <div class="row-fluid">
      <div class="control-group">
        <table style="width: 100%">
          <tr ng-repeat="header in headers">
            <td style="width: 45%">
              <input type="text" style="width: 100%" ng-model="header.name" typeahead="completion for completion in defaultHeaderNames() | filter:$viewValue"
                     typeahead-editable='true'
                     placeholder="Header name">
            </td>
            <td style="width: 55%">
              <input type="text" style="width: 100%" ng-model="header.value" placeholder="Value of the message header">
            </td>
            <td style="width: 1px">
              <button ng-click="removeHeader(header)" class="btn pull-right" title="Removes this message header"><i class="icon-remove"></i></button>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row-fluid">
      <div class="pull-right">
        <div class="controls">
          <label class="control-label" for="sourceFormat" title="The text format to use for the message payload">body
            format: </label>
          <select ng-model="codeMirrorOptions.mode.name" id="sourceFormat">
            <option value="javascript">JSON</option>
            <option value="text">Plain Text</option>
            <option value="properties">Properties</option>
            <option value="xml">XML</option>
            <option value="yaml">YAML</option>
          </select>

          <button class="btn" ng-click="autoFormat()"
                  title="Automatically pretty prints the message so its easier to read">Auto Format
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="control-group">
      <textarea ui-codemirror="codeMirrorOptions" ng-model="message"></textarea>
    </div>
  </div>
</form>