<form class="form-horizontal">
  <div class="control-group">
    <button id="sendButton" type="submit" class="btn btn-info pull-left" ng-click="sendMessage(message)">Send Message</button>

    <div class="pull-right">
      <label class="control-label" for="sourceFormat" title="The text format to use for the message payload">message format</label>

      <div class="controls">
        <select ng-model="sourceFormat" id="sourceFormat">
          <option value="javascript">JSON</option>
          <option value="text">Plain Text</option>
          <option value="properties">Properties</option>
          <option value="xml">XML</option>
          <option value="yaml">YAML</option>
        </select>

        <button class="btn" ng-click="autoFormat()" title="Automatically pretty prints the message so its easier to read">Auto Format</button>
      </div>
    </div>
  </div>
  <div class="control-group" ng-controller="Core.EditorController">
      Current theme to use :: {{codeMirrorOptions.theme}}.  Model contents {{codeMirrorModel}}.

      <textarea ui-codemirror="codeMirrorOptions" ng-model="codeMirrorModel" placeholder="Message"></textarea>

  </div>
</form>
