<div ng-controller="Diagnostics.FlagsController">

	<div class="row-fluid span9" >
		<div class="control-group inline-block pull-right">
			<input type="text" class="search-query ng-pristine ng-valid"
				placeholder="Filter..." ng-model="tableDef.filterOptions.filterText">
			<i class="icon-remove clickable" title="Clear filter"
				ng-click="tableDef.filterOptions.filterText = ''"></i>
		</div>

		<table class="table table-condensed table-striped"
			hawtio-simple-table="tableDef"></table>

	</div>
</div>