<script type="text/ng-template"  id="render_tree.html">
    <span ng-click="select(child)">{{name}}</span>
    <ul>
        <li ng-repeat="(name, child) in child.children()" ng-include="'render_tree.html'"></li>
    </ul>
</script>


<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4">
        <ul ng-controller="MBeansController">
            <li ng-repeat="(name, child) in tree.children()" ng-include="'render_tree.html'"></li>
        </ul>
    </div>
    <div class="span8">
        <div id="properties" ng-view></div>
    </div>
  </div>
</div>