.metricsWatcher .heading1 {
	font-size: 24px;
	line-height: 30px;
    margin: 0;
}
.metricsWatcher .heading3 {
	font-size: 18px;
	line-height: 27px;
	margin: 0;
}
.metricsWatcher .heading4 {
	font-size: 14px;
	line-height: 18px;
	margin: 0;
}
.metricsWatcher .heading5 {
	font-size: 18px;
	line-height: 18px;
	margin: 0;
}
.metricsWatcher p {
	font-size: 13px;
	line-height: 18px;
}
.metricsWatcher fieldset legend {
	margin-bottom: 5px;
	border-bottom: none;
	color: inherit;
}
.metricsWatcher .activeRequestsGraph {
	vertical-align: top;
}
.metricsWatcher .activeRequestsGraph .counter .histogram {
	width: 95%;
}

.metricsWatcher .nested {
	margin: 0 10px 10px 0;
}
.metricsWatcher .nested h1 {
	font-size: 24px;
}

.metricsWatcher .progressLabel {
	text-align: right;
	color: #666;
}

.metricsWatcher.histogram .histogramContainer td,
.metricsWatcher.timer .timerContainer td,
.metricsWatcher .progressLabel,
.metricsWatcher .progressValue {
	vertical-align: top;
	padding: 0 5px;
}
.metricsWatcher .progressValue {
	font-size: 13px;
	line-height: 18px;
	color: #666;
}
.metricsWatcher .progress {
	height: 18px;
	margin-bottom: 17px;
}

.metricsWatcher.timer table,
.metricsWatcher.histogram table,
.metricsWatcher.web table,
.metricsWatcher.log4j table,
.metricsWatcher.cache table,
.metricsWatcher.jvm table,
.metricsWatcher .progressBar,
.metricsWatcher .progressBar,
.metricsWatcher .progressTable {
	width: 100%;
	font-size: 13px;
}

.metricsWatcher.histogram .histogramContainer,
.metricsWatcher.jvm .jvmContainer,
.metricsWatcher.web .webContainer,
.metricsWatcher.log4j .log4jContainer,
.metricsWatcher.cache .cacheContainer,
.metricsWatcher.timer .timerContainer,
.metricsWatcher.cache .gaugeTableContainer {
	border-style: none;
	border-width: 1px;
	padding: 10px 0;
	margin-left: 0;
	padding: 10px;
}

.metricsWatcher.cache table.gaugeTable td h5,
.metricsWatcher.jvm table.jvmTable td h5 {
	font-size: 15px;
	font-weight: normal;
	text-align: left;
}
.metricsWatcher table.gaugeTable td,
.metricsWatcher table.jvmTable td {
	font-size: 14px;
	text-align: right;
}

caption{
	font-weight: bold;
}

/**
 * Find a nice style for progress bar
 */
.metricsWatcher .progress > .progress-bar {
    display: block;
    height: 100%;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(43,94,183);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(43,94,183)),
        color-stop(1, rgb(84,140,184))
    );
    background-image: -webkit-linear-gradient(
        center bottom,
        rgb(43,94,183) 37%,
        rgb(84,140,184) 69%
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(43,94,183) 37%,
        rgb(84,140,184) 69%
    );
    background-image: -ms-linear-gradient(
        center bottom,
        rgb(43,94,183) 37%,
        rgb(84,140,184) 69%
    );
    background-image: -o-linear-gradient(
        center bottom,
        rgb(43,94,183) 37%,
        rgb(84,140,184) 69%
    );
    -webkit-box-shadow:
        inset 0 2px 9px  rgba(255,255,255,0.3),
        inset 0 -2px 6px rgba(0,0,0,0.4);
    -moz-box-shadow:
        inset 0 2px 9px  rgba(255,255,255,0.3),
        inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
}
