<div ng-controller="SpringBatch.ConnectSpringBatchController">
    <div class="row-fluid">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="springBatchServer" title="List of all the Spring Batch servers available">SpringBatch Servers</label>

                <div class="controls">
                    <select required="required" id="springBatchServer" ng-model="springBatchServer" name="springBatchServer" class="">
                        <option value="">Select a server</option>
                        <option ng-repeat="server in springBatchServers" value="{{server}}">{{server}}</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="submit" value="Connect To Remote Server" class="btn" ng-click="connectSpringBatch()"
                           title="Select the spring batch server to use">
                </div>
            </div>
        </form>
    </div>

    <div class="row-fluid">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="host" title="The host name used to connect over HTTP">host name</label>

                <div class="controls">
                    <input id="host" name="host" type="text" ng-model="host"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="port" title="The HTTP port used to connect to the server">port</label>

                <div class="controls">
                    <input id="port" name="port" type="number" min="0" ng-model="port"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="path" title="The URL path used to connect to Jolokia on the remote server">path</label>

                <div class="controls">
                    <input id="path" name="path" type="text" ng-model="path"/>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="submit" value="Add to the list" class="btn" ng-disabled="!host" ng-click="addSpringBatchServerToGlobalList()"
                           title="Add new SpringBatch server to the global list">
                </div>
            </div>
        </form>
    </div>
</div>