<ul class="nav nav-tabs">
  <li ng-repeat="nav in camelSubLevelTabs()" ng-show="isValid(nav)" ng-class="{active : isActive(nav)}">
    <a ng-href="{{nav.href()}}{{hash}}" title="{{nav.title}}"
       data-placement="bottom" ng-bind-html-unsafe="nav.content"></a></li>

  <li class="pull-right">
    <a title="Deletes the selected pattern" ng-disabled="!selectedFolder" ng-click="removeNode()" data-placement="bottom">
      <i class="icon-remove"></i> Delete</a></li>
  <li class="pull-right">
    <a title="Add new pattern node connecting to this pattern" ng-click="addNode()" data-placement="bottom">
      <i class="icon-plus"></i> Add</a></li>
</ul>

<div modal="showAddDialog" close="closeAddDialog()" options="addDialogOptions">
  <div class="modal-header"><h4>Add Node</h4></div>
  <div class="modal-body">
    <div hawtio-tree="paletteTree" hideRoot="true" onSelect="onPaletteSelect"></div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary add" type="button" ng-disabled="!selectedPaletteNode" ng-click="addAndCloseDialog()">Add</button>
    <button class="btn btn-warning cancel" type="button" ng-click="closeAddDialog()">Cancel</button>
  </div>
</div>
