<div ng-controller="Wiki.ViewController">
  <div class="logbar" ng-controller="Wiki.NavBarController">
    <div class="wiki logbar-container">
      <ul class="nav nav-tabs">
        <li ng-repeat="link in breadcrumbs" ng-class='{active : isActive(link.href)}'>
          <a ng-href="{{link.href}}{{hash}}">{{link.name}}</a>
        </li>

        <li class="pull-right dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Actions <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li ng-show="sourceLink()">
              <a ng-href="{{sourceLink()}}" title="View source code"
                 data-placement="bottom">
                <i class="icon-file-alt"></i> Source</a>
            </li>
            <li>
              <a ng-href="{{historyLink}}{{hash}}" ng-hide="!historyLink" title="View the history of this file"
                 data-placement="bottom">
                <i class="icon-comments-alt"></i> History</a>
            </li>
            <li class="divider">
            <li>
              <a ng-click="openDeleteDialog()" ng-disabled="!gridOptions.selectedItems.length"
                 title="Delete the selected document(s)"
                 data-placement="bottom">
                <i class="icon-remove"></i> Delete</a>
            </li>
          </ul>
        </li>
        <li class="pull-right">
          <a ng-href="{{editLink()}}{{hash}}" ng-hide="!editLink()" title="Edit this page"
             data-placement="bottom">
            <i class="icon-edit"></i> Edit</a>
        </li>
        <li class="pull-right">
          <a title="Create new page" ng-click="openAddDialog()"
             data-placement="bottom">
            <i class="icon-plus"></i> Create</a>
          <!--
                    <a ng-href="{{createLink()}}{{hash}}" title="Create new page"
                       data-placement="bottom">
                      <i class="icon-plus"></i> Create</a>
          -->
        </li>
      </ul>
    </div>
  </div>

  <div class="wiki-fixed form-horizontal">
    <div ng-hide="!children">
      <div class="row-fluid">
        <div class="wikiGridStyle" ng-grid="gridOptions"></div>
      </div>
    </div>

    <div ng-hide="!html">
      <div ng-bind-html-unsafe="html"></div>
    </div>

    <div ng-include="sourceView" class="editor-autoresize"></div>
  </div>

  <div class="modal-large">
    <div modal="addDialog.show" close="addDialog.close()" ng-options="addDialog.options">
      <div class="modal-header"><h4>Create New Document</h4></div>
      <div class="modal-body">
        <div class="control-group">
          <div hawtio-tree="createDocumentTree" hideRoot="true" onSelect="onCreateDocumentSelect"
               activateNodes="createDocumentTreeActivations"></div>
        </div>

        <form class="form-inline" ng-submit="addAndCloseDialog()">
          <label class="control-label" for="fileName">Document Name: </label>

          <input id="fileName" type="text" ng-model="newDocumentName"
                 placeholder="{{selectedCreateDocumentTemplate.exemplar}}"/>
        </form>

        <div class="control-group">
          <div class="well">
            {{selectedCreateDocumentTemplate.tooltip}}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <input id="submit" class="btn btn-primary add" type="submit" ng-click="addAndCloseDialog()"
               ng-disabled="!selectedCreateDocumentTemplate.exemplar"
               value="Create">
        <button class="btn btn-warning cancel" type="button" ng-click="addDialog.close()">Cancel</button>
      </div>
    </div>
  </div>

  <div hawtio-confirm-dialog="deleteDialog"
       ok-button-text="Delete"
       on-ok="deleteAndCloseDialog()">
    <div class="dialog-body">
      <p>You are about to delete
        <ng-pluralize count="gridOptions.selectedItems.length"
                      when="{'1': 'this document!', 'other': 'these {} documents!'}">
        </ng-pluralize>
      </p>
      <div ng-bind-html-unsafe="selectedFileHtml"></div>
<!--
      <p>This operation cannot be undone so please be careful.</p>
-->
    </div>
  </div>

</div>
