<div ng-hide="inDashboard" class="logbar" ng-controller="Wiki.NavBarController">
  <div class="wiki logbar-container">
    <ul class="nav nav-tabs">
      <li ng-show="branches.length || branch">
        <div hawtio-drop-down="branchMenuConfig"></div>
      </li>
      <li ng-repeat="link in breadcrumbs" ng-class='{active : isActive(link.href) && !objectId}'>
        <a class="breadcrumb-link" ng-href="{{link.href}}">
          <span class="contained c-medium">{{link.name}}</span>
        </a>
      </li>
      <li ng-show="objectId">
        <a ng-href="{{historyLink}}{{hash}}">History</a>
      </li>
      <li ng-show="objectId" class="active">
        <a>{{objectId}}</a>
      </li>

      <li class="pull-right dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Actions <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li ng-show="sourceLink()">
            <a ng-href="{{sourceLink()}}" title="View source code"
               data-placement="bottom">
              <i class="icon-file-alt"></i> Source</a>
          </li>
          <li>
            <a ng-href="{{historyLink}}{{hash}}" ng-hide="!historyLink" title="View the history of this file"
               data-placement="bottom">
              <i class="icon-comments-alt"></i> History</a>
          </li>
          <!--
          <li class="divider">
          </li>
          -->
          <li ng-hide="gridOptions.selectedItems.length !== 1" hawtio-show object-name="{{gitMBean}}" method-name="rename">
            <a ng-click="openRenameDialog()"
               title="Rename the selected document"
               data-placement="bottom">
              <i class="icon-adjust"></i> Rename</a>
          </li>
          <li ng-hide="!gridOptions.selectedItems.length" hawtio-show object-name="{{gitMBean}}" method-name="rename">
            <a ng-click="openMoveDialog()"
               title="move the selected documents to a new folder"
               data-placement="bottom">
              <i class="icon-move"></i> Move</a>
          </li>
          <!--
          <li class="divider">
          </li>
          -->
          <li ng-hide="!gridOptions.selectedItems.length" hawtio-show object-name="{{gitMBean}}" method-name="remove">
            <a ng-click="openDeleteDialog()"
               title="Delete the selected document(s)"
               data-placement="bottom">
              <i class="icon-remove"></i> Delete</a>
          </li>
          <li class="divider" ng-show="childActions.length">
          </li>
          <li ng-repeat="childAction in childActions">
            <a ng-click="childAction.doAction()"
               title="{{childAction.title}}"
               data-placement="bottom">
              <i class="{{childAction.icon}}"></i> {{childAction.name}}</a>
          </li>
        </ul>
      </li>
      <li class="pull-right" hawtio-show object-name="{{gitMBean}}" method-name="write">
        <a ng-href="{{editLink()}}{{hash}}" ng-hide="!editLink()" title="Edit this page"
           data-placement="bottom">
          <i class="icon-edit"></i> Edit</a>
      </li>
      <li class="pull-right" hawtio-show object-name="{{gitMBean}}" method-name="write">
        <a ng-href="{{createLink()}}{{hash}}"
           title="Create new page"
           data-placement="bottom">
          <i class="icon-plus"></i> Create</a>
      </li>
      <li class="pull-right">
        <div class="btn-group" 
             ng-hide="!children || profile">
          <a class="btn btn-small"
             ng-disabled="mode == ViewMode.List"
             href="" 
             ng-click="setViewMode(ViewMode.List)">
            <i class="icon-list"></i></a>
          <a class="btn btn-small" 
             ng-disabled="mode == ViewMode.Icon"
             href="" 
             ng-click="setViewMode(ViewMode.Icon)">
            <i class="icon-th-large"></i></a>
        </div>
      </li>
      <li class="pull-right">
        <a href="" ng-hide="children || profile" title="Add to dashboard" ng-href="{{createDashboardLink()}}"
           data-placement="bottom">
          <i class="icon-share"></i>
        </a>
      </li>
    </ul>
  </div>
</div>


