<div ng-controller="Wiki.ViewController">
  <div ng-controller="Wiki.NavBarController">
    <ul class="nav nav-tabs">
      <li ng-repeat="link in breadcrumbs" ng-class='{active : isActive(link.href)}'>
        <a ng-href="{{link.href}}{{hash}}">
          {{link.name}}
        </a>
      </li>

      <li class="pull-right">
        <a ng-href="{{editLink()}}{{hash}}" ng-hide="directory" title="Edit this page"
           data-placement="bottom">
          <i class="icon-edit"></i> Edit</a></li>
      <li class="pull-right">
        <a ng-href="{{createLink()}}{{hash}}" title="Create new page"
           data-placement="bottom">
          <i class="icon-plus"></i> Create</a></li>
    </ul>
  </div>

  <div class="form-horizontal">
    <div ng-hide="!children">
      <div class="row-fluid">
        <div class="gridStyle" ng-grid="gridOptions"></div>
      </div>
    </div>

    <div ng-hide="!html">
      <div ng-bind-html-unsafe="html"></div>
    </div>
    <div ng-hide="!source">
      <textarea id="source" ui-codemirror="codeMirrorOptions" ng-model="source"></textarea>
    </div>
  </div>
</div>
