<configuration debug="false">

  <appender name="CUCUMBER-LOG" class="ch.qos.logback.core.FileAppender">
    <file>target/cucumber.log</file>
    <encoder>
      <pattern>[%level] %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="STDOUT-WARNINGS" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>WARN</level>
    </filter>
    <encoder>
      <pattern>[%level] %logger{35} %msg%n</pattern>
    </encoder>
    <immediateFlush>true</immediateFlush>
  </appender>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%level] %logger{35} %msg%n</pattern>
    </encoder>
    <immediateFlush>true</immediateFlush>
  </appender>
  <root level="INFO">
    <appender-ref ref="CUCUMBER-LOG"/>
    <appender-ref ref="STDOUT-WARNING"/>
  </root>
  <logger name="io.hawt">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="CUCUMBER-LOG"/>
  </logger>
  <logger name="hawtio-app">
    <appender-ref ref="container-logger"/>
  </logger>
  <appender class="ch.qos.logback.core.FileAppender" name="container-logger">
  	<file>target/hawtio-app.log</file>
    <encoder>
      <pattern>[%level] %logger{36} - %msg%n</pattern>
    </encoder>
    <immediateFlush>true</immediateFlush>
  </appender>
</configuration>
