name: E2E Test

on:
  pull_request:
    branches:
      - 2.x
      - 3.x
    paths-ignore:
      - "**.md"
  push:
    branches:
      - 2.x
      - 3.x
    paths-ignore:
      - "**.md"

jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        java: [ '11', '17' ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          cache: 'maven'
      - name: Build & E2E test
        run: |
          mvn --batch-mode install -Druntime=springboot -Dtest=RunSpringBootAllTest
      - name: Archive failed test reports
        uses: actions/upload-artifact@v3
        if: always()
        with:
          path: tests/springboot/build/reports/tests/*.png
