name: Build Images

on:
  push:
    branches:
      - 4.x
      - 5.x
    paths-ignore:
      - "**.md"
  workflow_dispatch:

env:
  MVN_ARGS: --batch-mode --no-transfer-progress
  PLATFORMS_TEST_APP: linux/amd64,linux/ppc64le,linux/s390x,linux/arm64
  PLATFORMS_TEST_SUITE: linux/amd64

jobs:
  build:
    if: github.repository_owner == 'hawtio'
    strategy:
      fail-fast: false
      matrix:
        java: ['17', '21']
    runs-on: ubuntu-latest
    steps:
      # --- Checkout code ---
      - name: Checkout code
        uses: actions/checkout@v6
      # --- Set up Java ---
      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: ${{ matrix.java }}
          cache: "maven"
      # --- Enable QEMU and Buildx for multi-arch builds ---
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      # --- Log in to Quay.io
      - name: Log in to Quay.io
        uses: docker/login-action@v3
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}
      # --- Install dependencies ---
      - name: Install Maven dependencies
        run: |
          mvn ${MVN_ARGS} install -DskipTests
      # --- Build and push auth-enabled images ---
      - name: Build auth-enabled JARs
        run: |
          mvn ${MVN_ARGS} install -DskipTests -Pe2e -pl :hawtio-test-suite,:hawtio-tests-quarkus,:hawtio-tests-springboot -am -Dhawtio.authenticationEnabled=true
      - name: Build and push multi-arch auth-enabled images
        run: |
          TAG_SUFFIX=${{ github.ref_name }}-${{ matrix.java }}
          JAVA_ARG="--build-arg JAVA_VERSION=${{ matrix.java }}"
          docker buildx build --platform $PLATFORMS_TEST_SUITE $JAVA_ARG -f tests/hawtio-test-suite/Dockerfile -t quay.io/hawtio/hawtio-test-suite:$TAG_SUFFIX --push .
          docker buildx build --platform $PLATFORMS_TEST_APP $JAVA_ARG -f tests/quarkus/Dockerfile -t quay.io/hawtio/hawtio-quarkus-test-app:$TAG_SUFFIX --push tests/quarkus
          docker buildx build --platform $PLATFORMS_TEST_APP $JAVA_ARG -f tests/springboot/Dockerfile -t quay.io/hawtio/hawtio-springboot-test-app:$TAG_SUFFIX --push tests/springboot
      # --- Build and push auth-disabled images ---
      - name: Build auth-disabled JARs
        run: |
          mvn ${MVN_ARGS} install -DskipTests -Pe2e -pl :hawtio-tests-quarkus,:hawtio-tests-springboot -am -Dhawtio.authenticationEnabled=false
      - name: Build and push multi-arch auth-disabled images
        run: |
          TAG_SUFFIX=${{ github.ref_name }}-${{ matrix.java }}-noauth
          JAVA_ARG="--build-arg JAVA_VERSION=${{ matrix.java }}"
          docker buildx build --platform $PLATFORMS_TEST_APP $JAVA_ARG -f tests/quarkus/Dockerfile -t quay.io/hawtio/hawtio-quarkus-test-app:$TAG_SUFFIX --push tests/quarkus
          docker buildx build --platform $PLATFORMS_TEST_APP $JAVA_ARG -f tests/springboot/Dockerfile -t quay.io/hawtio/hawtio-springboot-test-app:$TAG_SUFFIX --push tests/springboot
