name: Build Images

on:
  push:
    branches:
      - 3.x
      - 4.x
    paths-ignore:
      - "**.md"
  workflow_dispatch:

env:
  MVN_ARGS: --batch-mode --no-transfer-progress

jobs:
  build:
    if: github.repository_owner == 'hawtio'
    strategy:
      matrix:
        java: ['11', '17']
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: ${{ matrix.java }}
          cache: "maven"
      - name: Install
        run: |
          mvn ${MVN_ARGS} install
      - name: Build images
        run: |
          mvn ${MVN_ARGS} install -Dquarkus.container-image.build=true -pl examples/quarkus
          mvn ${MVN_ARGS} install -DskipTests -Pe2e -Pdocker-testsuite -Ptests-docker -Dhawtio-container -Ddocker.buildArg.JAVA_VERSION=${{ matrix.java }} -pl :hawtio-test-suite,:hawtio-tests-quarkus,:hawtio-tests-springboot -am
      - name: Display images
        run: |
          docker images
      - name: Push image to Quay.io
        env:
          USERNAME: ${{ secrets.QUAY_USERNAME }}
          PASSWORD: ${{ secrets.QUAY_PASSWORD }}
        run: |
          docker login -u $USERNAME -p $PASSWORD quay.io
          docker tag hawtio-test-suite:${{ matrix.java }} quay.io/hawtio/hawtio-test-suite:${{ github.ref_name }}-${{ matrix.java }}
          docker tag hawtio-quarkus-app:${{ matrix.java }} quay.io/hawtio/hawtio-quarkus-test-app:${{ github.ref_name }}-${{ matrix.java }}
          docker tag hawtio-springboot-app:${{ matrix.java }} quay.io/hawtio/hawtio-springboot-test-app:${{ github.ref_name }}-${{ matrix.java }}
          for image in $(docker images --filter=reference='quay.io/hawtio/*' --format='{{.Repository}}:{{.Tag}}')
          do
            docker push $image
          done
