name: Build Images

on:
  push:
    branches:
      - 3.x
    paths-ignore:
      - "**.md"
  workflow_dispatch:

env:
  MVN_ARGS: --batch-mode --no-transfer-progress

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: 11
          cache: "maven"
      - name: Install
        run: |
          mvn ${MVN_ARGS} install
      - name: Build example image
        run: |
          mvn ${MVN_ARGS} install -Dquarkus.container-image.build=true -pl examples/quarkus
      - name: Display images
        run: |
          podman images
          docker images
      - name: Get project version
        run: |
          project_version=$(mvn ${MVN_ARGS} help:evaluate -Dexpression=project.version | grep -v "^\[")
          echo "project_version=${project_version}" >> "$GITHUB_ENV"
      - name: Push image to Quay.io
        env:
          USERNAME: ${{ secrets.QUAY_USERNAME }}
          PASSWORD: ${{ secrets.QUAY_PASSWORD }}
        run: |
          podman login -u $USERNAME -p $PASSWORD quay.io
          podman push quay.io/hawtio/hawtio-example-quarkus:${{ env.project_version }}
