name: Lint

on:
  pull_request:
    branches:
      - 4.x-redhat
    paths-ignore:
      - '**.md'
  push:
    branches:
      - 4.x-redhat
    paths-ignore:
      - '**.md'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Shellcheck
        shell: bash
        run: |
          ./scripts/shellcheck.sh
