name: Test

on:
  pull_request:
    branches:
      - main
      - 4.x
    paths-ignore:
      - "**.md"
  push:
    branches:
      - main
      - 4.x
    paths-ignore:
      - "**.md"

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        java: ['17', '21']
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          cache: 'maven'
      - name: Build & test
        run: |
          mvn --batch-mode --no-transfer-progress install
